[2021-10-23 21:29] GuillaumeLeclerc opened #1 "Writing a dataset with fewer samples than num_workers * chunksize fails"

[2021-10-23 21:52] GuillaumeLeclerc opened #2 "Sort the allocation table at write time instead of at load time to save time"

[2021-10-27 02:57] #1 closed, assigned to nobody

[2021-10-27 03:14] andrewilyas opened #3 "Add requirements to compile and test in a brand new conda env"

[2021-10-27 03:36] GuillaumeLeclerc opened #4 "Open file using HugePages to reduce TLB cache misses"

[2021-10-27 03:55] andrewilyas opened #5 "Create and test RandomHorizontalFlip"

[2021-10-27 04:03] GuillaumeLeclerc opened #6 "Iterating multiple epochs through an interator fails"

[2021-10-27 04:06] GuillaumeLeclerc opened #7 "ImageDecoder (tests + move to batches)"

[2021-10-27 04:38] #6 closed, assigned to GuillaumeLeclerc

[2021-10-27 05:43] #7 closed, assigned to GuillaumeLeclerc

[2021-10-27 05:45] GuillaumeLeclerc opened #8 "RandomResizedCrop"

[2021-10-27 14:57] andrewilyas opened #9 "Add docstrings"

[2021-10-27 17:27] GuillaumeLeclerc opened #10 "Loading raw images is problematically slow"

[2021-10-27 17:28] #10 closed, assigned to GuillaumeLeclerc

[2021-10-27 19:02] GuillaumeLeclerc opened #11 "Enable multiple workers"

[2021-10-27 19:51] #11 closed, assigned to GuillaumeLeclerc

[2021-10-27 20:17] GuillaumeLeclerc opened #12 "Raise an error when a user use the default image loader on a data set containing variable image resolutions"

[2021-10-27 20:38] #12 closed, assigned to GuillaumeLeclerc

[2021-10-27 21:58] GuillaumeLeclerc opened #13 "Set pytorch threads to the number of data loading workers to allow some parallelism in non_jitted sections"

[2021-10-27 21:58] #13 closed, assigned to GuillaumeLeclerc

[2021-10-27 21:58] GuillaumeLeclerc opened #14 "CenterCrop"

[2021-10-27 21:59] GuillaumeLeclerc opened #15 "Benchmark RRC"

[2021-10-28 04:34] #8 closed, assigned to GuillaumeLeclerc

[2021-10-28 05:19] GuillaumeLeclerc opened #16 "Do the loading in a background thread instead of the main one"

[2021-10-28 05:20] GuillaumeLeclerc opened #17 "Investigate problematic throughput of multi-threaded RAW image loading"

[2021-10-28 06:22] #14 closed, assigned to GuillaumeLeclerc

[2021-10-28 07:56] GuillaumeLeclerc opened #18 "Investigate high memory usage in ReadMemory micro benchmark"

[2021-10-28 07:57] #4 closed, assigned to nobody

[2021-10-28 22:20] #3 closed, assigned to GuillaumeLeclerc, andrewilyas

[2021-10-30 18:10] #17 closed, assigned to GuillaumeLeclerc

[2021-10-30 18:11] GuillaumeLeclerc opened #19 "Add JpegQuality option to the RGBImage encoder"

[2021-10-30 18:13] GuillaumeLeclerc opened #20 "Test dataset shuffling"

[2021-10-30 18:13] GuillaumeLeclerc opened #21 "Test dataset subsampling"

[2021-10-30 19:26] #18 closed, assigned to GuillaumeLeclerc

[2021-10-30 19:35] GuillaumeLeclerc opened #22 "GPU upload"

[2021-10-30 20:28] #19 closed, assigned to GuillaumeLeclerc

[2021-10-30 20:47] GuillaumeLeclerc opened #23 "Allow change of resolution during training for randomResizedCrop"

[2021-10-30 20:50] GuillaumeLeclerc opened #24 "Reuse EpochIeterator to avoid slowdowns between epochs"

[2021-10-30 20:50] GuillaumeLeclerc opened #25 "Add support for test-time augmentation"

[2021-11-01 18:51] #22 closed, assigned to GuillaumeLeclerc

[2021-11-01 18:51] GuillaumeLeclerc opened #26 "Support partial final batches"

[2021-11-01 19:05] #26 closed, assigned to GuillaumeLeclerc

[2021-11-01 21:17] #23 closed, assigned to GuillaumeLeclerc

[2021-11-01 21:17] #24 closed, assigned to GuillaumeLeclerc

[2021-11-01 21:18] GuillaumeLeclerc opened #27 "Consider enabling inlining during compilation"

[2021-11-01 22:04] GuillaumeLeclerc opened #28 "Support for distributed training"

[2021-11-02 03:29] GuillaumeLeclerc opened #29 "Add read strategy/sampling that works well for slow storage backends (HDDs/NFS)"

[2021-11-02 03:31] #25 closed, assigned to andrewilyas

[2021-11-02 03:31] lengstrom opened #30 "imperative cifar/imagenet examples"

[2021-11-02 03:31] lengstrom opened #31 "start guide"

[2021-11-02 03:32] lengstrom opened #32 "straightforward markup design doc"

[2021-11-02 04:52] #16 closed, assigned to GuillaumeLeclerc

[2021-11-02 06:21] GuillaumeLeclerc opened #33 "Support properly non_blocking gpu copy"

[2021-11-02 06:23] #27 closed, assigned to GuillaumeLeclerc

[2021-11-02 07:11] #33 closed, assigned to GuillaumeLeclerc

[2021-11-03 21:34] #28 closed, assigned to GuillaumeLeclerc

[2021-11-03 21:35] #20 closed, assigned to nobody

[2021-11-04 01:37] GuillaumeLeclerc opened #34 "Add shuffling option to the dataset writer"

[2021-11-05 16:46] #34 closed, assigned to GuillaumeLeclerc

[2021-11-09 21:05] #29 closed, assigned to GuillaumeLeclerc

[2021-11-14 03:52] andrewilyas opened #37 "non_blocking=True still fails, lacking corresponding test case"
The ``non_blocking=True`` option still leads to nonsense values being returned by the dataloader. I observed this issue as part of a much larger system but have been unable to isolate a test case, so putting here in case anyone has seen something similar, otherwise I will get back to looking for a test case in a few days.

The loader code (as part of the larger system) is:

[code]

And the corresp

[2022-01-11 04:34] #37 closed, assigned to nobody

[2022-01-14 17:40] #32 closed, assigned to nobody

[2022-01-14 17:40] #30 closed, assigned to nobody

[2022-01-14 17:40] #9 closed, assigned to nobody

[2022-01-14 17:40] #5 closed, assigned to andrewilyas

[2022-01-14 17:40] #31 closed, assigned to nobody

[2022-01-14 19:46] #21 closed, assigned to nobody

[2022-01-14 19:46] #15 closed, assigned to nobody

[2022-01-14 19:47] #2 closed, assigned to nobody

[2022-01-19 01:42] gongbudaizhe opened #43 "Why ffcv is faster than native pytorch data loading? how does ffcv compare to Nvidia DALI?"
Good work !

I am just curious why ffcv is faster than native pytorch data loading? Once users understand the mechanism under the hood, they are more likely to adopt it : )

And how does ffcv compare to Nvidia DALI ?

[2022-01-19 02:04] GuillaumeLeclerc commented on #43
Hello!

Thank you very much. There are many reasons but on the top of my head:

- Single file vs many smaller files (less stress on the file system)
- Using the knowledge about which samples will be needed in the future to start reading the data ahead of time and absorb the latency of slow storage
- The use of threads instead of processes remove the need of any inter-process communication (shared

[2022-01-19 02:28] 1234gary opened #44 "FFCV Imagenet Image Quality vs. Native Imagenet Image Quality"
Hello! I see that FFCV offers alot of options for the quality of the dataset - e.g. in the imagenet example:

[code]

One thing I'm curious is the effects of these quality options on the training results of the dataset, as I'm interested in reproducing Imagenet results but faster using FFCV. What would also be recommended settings to use if you would like to produce Native Imagenet Quality precise

[2022-01-19 02:42] GuillaumeLeclerc commented on #44
Hello,

If your goal is speed I would consider using more RAW images and less JPEG as a first measure. Now if you have limited amount of RAM then lower JPEQ quality might be your best bet. I would give 50% quality a try (make sure you process the validation dataset the same way or your accuracy will tank!), if that's not good enough you can try 80% or 90%.

[2022-01-19 02:49] 1234gary commented on #44
Thanks! If my priority is accuracy (let's say the evaluation validation set doesn't use FFCV), what would be the ideal settings? Would I try to make the jpeg quality to 100% and also have more RAW images?

[2022-01-19 02:52] GuillaumeLeclerc commented on #44
It can be a problem to use a different pipeline to a train dataset and the validation (think what would happen if you used different Normalization for example). If that's your constraint then definitely use as much RAW as you can (100% if size isn't your problem). RAW isn't compressed so it's really really fast if you have enough RAM to keep it cached (or if you have really good SSD/networked atta

[2022-01-19 02:56] andrewilyas commented on #44
Just to add: for our ImageNet results (the speed/accuracy tradeoff scatterplot and table), we use:
[code]

[2022-01-19 03:04] renmada opened #46 "Can ffcv be used for other DL framework？"
Does it works that just use ffcv as dataloader?

[2022-01-19 03:11] GuillaumeLeclerc commented on #46
We haven't personally experimented but there is no reason why it wouldn't. Indeed because when the loader produces a batch it's already on the GPU and copied, you can just convert that tensor and do what you feel like as long as you work in the default CUDA stream there should be no issues.

https://docs.cupy.dev/en/stable/user_guide/interoperability.html contains useful information on how to conv

[2022-01-19 03:11] #46 closed

[2022-01-19 04:24] lengstrom commented on #44
Generally if you want to have higher accuracy, you should want to have larger images and higher JPEG quality. As a concrete result, we found that going from 350px to 500px images yielded a roughly 1% increase in ImageNet val set accuracy.

[2022-01-19 05:02] YassineYousfi commented on #44
IMHO "Raw" is really not a good term to use here (maybe worth another issue?).

In imaging "raw" means the very first step of the acquisition pipeline (before demosaicing if CFA sensor). I was confused at first, then realized the distinction is actually: original ImageNet JPEGs decompressed and saved as RGB **VS** additionally compressed JPEGs saved in encoded format*.

My question is: Why do you

[2022-01-19 05:34] hongxin001 opened #48 "Small Bug in the quickstart doc"
For the first code in the quickstart,

`
'image': RGBImageField({
        max_resolution=256,
        jpeg_quality=jpeg_quality
    }),
`

There shouldn't be a { }. Or it would lead to an error.

[2022-01-19 06:20] lengstrom commented on #48
thanks hongxin! fixed in 16e47d6

[2022-01-19 06:20] #48 closed

[2022-01-19 06:24] lengstrom commented on #44
We performed the additional compression step to allow users to customize jpeg quality + to simplify recompression when resizing the image in our pipeline. We found that for 90 quality, recompression barely changed the val set accuracy.

It would be great if we could work with the original encoded stream without any recompression; we could consider this in a later update (and of course pull request

[2022-01-19 06:34] GuillaumeLeclerc commented on #44
@YassineYousfi You are totally correct regarding RAW. We struggled to find a term that is both correct, relatively easy to understand to most users and not to long to type. Happy to talk/receive suggestions in a separate thread

@lengstrom is 100% right about the additional compression, we wanted to give that possibility to users and have an API that makes importing datasets as straightforward as

[2022-01-19 08:46] ar90n opened #50 "Is albumentations support useful?"
HI, ffcv team! Thanks for your great work.
ffcv is so exciting for me.

Do you plan to improve its interoperability with other libraries?
In fact, I want to use more complicated augmentations on ffcv pipeline.
So I tried to add a new Operation to wrap transforms of argumentation.
These codes are below.

https://github.com/ar90n/ffcv/commit/f53d49dcdb7084f9a05dd99d49a4925814a6172b

It seems that th

[2022-01-19 09:17] GuillaumeLeclerc commented on #50
Hi! Thanks for the suggestion! We are of course interested in as many augmentations as possible so that sounds like a great addition. Your commit looks very reasonable to me and should be a good start! I'm wondering if it would be possible for us to make it even faster by integrating with the JIT pipeline. Can you give me some details on how they are actually implemented under the hood so that I c

[2022-01-19 10:34] javirk opened #51 "OSError on MacOS"
Hello,

I am trying to install ffcv on a system with MacOS. I created a new conda environment as stated in the documentation, removing cudatoolkit and cupy. Everything installed without issues. However, when I try `from ffcv.writer import DatasetWriter` I get the following error:
`OSError: dlopen(libc.so.6, 0x0006): tried: '/Users/**/opt/anaconda3/envs/ffcv/lib/python3.9/lib-dynload/../../libc.so.

[2022-01-19 11:03] javirk commented on #51
Hi, I solved all import problems on Mac by changing a bit the file `libffcv.py`. Turns out `libc.so.6` is Linux only, so I changed line 8 as follows:
`libc = cdll.LoadLibrary('libc.so.6') --> libc = cdll.LoadLibrary(find_library('c'))`
and added `from ctypes.util import find_library` first.

I have no idea about all this (just learned about `libc.so.6` 10 minutes ago) so I don't feel in the positi

[2022-01-19 12:36] jbohnslav opened #52 "Video support"
Feature request

How would I go about using FFCV to write and load a video dataset? I could encode it as sequences of JPGs to use your decoders, etc. However, it might take some work to load multiple images per batch element in parallel, along with parallelizing across batch elements.

[2022-01-19 12:43] ar90n commented on #50
Thanks for your quick reply! I evaluated this feature by modifying the pipeline of `train_cifar.py` such as follows.

[code]

The above codes are almost equivalent to the original codes. And it worked correctly.
And I think it is useful that we can use jit compiled operations and wrapped albumations operations in the same pipeline.
So I evaluated the following codes. These codes are also almost eq

[2022-01-19 13:51] mbsariyildiz opened #54 "conflicts among packages when installing a conda environment"
Hi! Congrats for the amazing work and thank you very much for sharing it publicly.
I encounter an issue while creating a conda environment to install ffcv.

I execute the command from the repo, on a linux machine with conda 4.10.3, and get the following issue (click on the toggle list to see the conda output)
Would you have any recommendation on how to solve these conflicts?

Thanks!

Command to c

[2022-01-19 14:19] YassineYousfi commented on #44
Thanks, @lengstrom and @GuillaumeLeclerc for the detailed answers. It makes a lot of sense, the need for resizing makes it a little more tricky.

Cropping can be easily done on JPEGs losslessly, while resizing might require some more work (like SmartScale introduced in libjpeg8).

Happy to discuss in a separate thread. I Will look into how easily this can be done in ffcv and potentially open a PR.

[2022-01-19 14:21] shashankvasisht opened #57 "Unsupported Image type"
Hi I was following your tutorial and I passed a pytorch Tensor as a image file in the data loader, but I got the following error:

[code]

Here is my code snippet :

[code]

Here is my return dict from my dataset class :

[code]

where both img_wm_t and img_t are pytorch tensors.

Also what Field should I use if i want to return string path from my Dataset class ??

[2022-01-19 14:38] andrewilyas commented on #57
Hi @shashankvasisht ! I'm not too familiar with the torchvision COCO dataset, do you think you could print the output of ``print(tr_dataset_func[0])``, and also paste in what ``args`` is?

As for strings, here is a minimal example:
[code]

[2022-01-19 14:40] andrewilyas commented on #51
Glad to hear it's resolved for now! Let us know how it goes. In the meantime, we'll look into ways to support MacOS out of the box.

[2022-01-19 17:06] GuillaumeLeclerc commented on #51
I unfortunately none of us use MacOS to train models so it was almost impossible to support it. But if other people in the community do and are able to make the necessary changes to make it work we are happy to integrate them.
@javirk that modification seems very reasonable. Do you want to make a pull request with that change ?

[2022-01-19 17:08] GuillaumeLeclerc commented on #54
Any idea which package is causing the conflict? I would try without cupy and maybe without numba first and if it works we see from there.

[2022-01-19 17:11] GuillaumeLeclerc commented on #50
I'm not sure about this assertion. @andrewilyas any idea why it is required.

Either way to integrate them propery in the JIT pipeline I would need to know how are the augmentations implemented internally, does it use a python extension or something similar ?

[2022-01-19 17:22] GuillaumeLeclerc commented on #52
To support additional data types one needs to create a new `Field` and its corresponding decoder, all the available ones are in the `ffcv/fields` folder. The only reason FFCV doesn't support video yet is because our lab doesn't regularly work with them. We are happy to integrate pull requests that would add that feature.

Parallelizing with FFCV is generally not an issue. As one can see in https:/

[2022-01-19 17:26] mbsariyildiz commented on #54
Here is what I tried:
- By removing the python=3.9 constraint, I managed to create an environment peacefully. But then I got opencv-related issues (to be more specific, about ffmpeg decoders). ffmpeg was installed from the pytorch channel, and forcing conda to replace it from the version available in the default conda channel, or the conda-forge channel again resulted in a bunch of conflicts.
- Tr

[2022-01-19 18:38] Erotemic opened #58 "Standalone quasi-random sampling."
This is a neat library, but I don't have the extra disk space to convert my highly complex torch Dataset into ffcv format. My bottleneck is disk-io, so what I would really like is just a simple standalone quasi-random sampling dataloader that works with existing torch datasets. The idea would be to sample items into a memory pool as fast as possible and sample from the current data in the pool. Ea

[2022-01-19 18:59] GuillaumeLeclerc commented on #58
I don't think that would be possible as we use the file format itself to enable good performance with QUASI_RANDOM. Each dataset file is cut into pages/blocks (default 8MB) and generates an random order that makes sure that we only ever need BATCH_SIZE pages in RAM at any time. Moreover we use the fact that we know ahead of time in which order we will need this pages to pre-load them and compensat

[2022-01-19 18:59] #58 closed

[2022-01-19 19:36] andrewilyas commented on #54
Thanks for letting us know @mbsariyildiz ! What version of conda did they have?

[2022-01-19 19:58] GuillaumeLeclerc commented on #54
Conda can be really annoying. To be honest we don't really need anything specific from there. The only reason we used it was to avoid having to specify installation that vary from linux distribution to linux distribution but it might be doing more harm than good...

[2022-01-19 20:06] mbsariyildiz commented on #54
Sorry for not being clear @andrewilyas , he had the same conda version 4.10.3.
I find that a bit odd, as we were on the same machine, using the same CUDA & NVIDIA drivers and LD_LIBRARY_PATH  PATH variables.

Just to add, upgrading my conda to 4.11.0, or installing the latest ffmpeg via pip also didn't help. I guess I couldn't link the correct ffmpeg lib.

Thanks for your attention @andrewilyas an

[2022-01-19 20:15] PeriklisTheodoropoulos commented on #54
HI, could you please also mention the steps your colleague took to resolve the ffmpeg conflict? I have been trying to install opencv with python 3.9 and conda version 4.10.3 (I am working with a remote server and so can not downgrade conda) and am running into an incomplete installation (the process terminates midway when ffmpeg is being installed).

[2022-01-19 20:19] andrewilyas commented on #54
Based on the stack trace @mbsariyildiz the problem *might* be with conda's strict channel priority mode. Try something like this in the created env?

[code]

[2022-01-19 20:38] andrewilyas commented on #50
Thanks for pointing this out @ar90n ! Those assertions can be removed and replaced with a simple setter, most likely. I'll start working on a fix and keep you updated!

[2022-01-19 21:01] mbsariyildiz commented on #54
@andrewilyas updating the channel priority of conda as you said solved the issue! 🎆  Wow, great, thank you very much.

@PeriklisTheodoropoulos, he didn't have any issue with ffmpeg actually. He was able to create a working environment.

[2022-01-19 21:35] andrewilyas commented on #54
Great! Closing this issue and added a note to the README regarding the fix.

[2022-01-19 21:35] #54 closed

[2022-01-20 02:11] geekchen007 opened #60 "pip install ffcv error"
(ffcv) $ pip install ffcv
Collecting ffcv
  Using cached ffcv-0.0.2.tar.gz (53 kB)
  Preparing metadata (setup.py) ... error
  ERROR: Command errored out with exit status 1:
   command: /XXX/ffcv/bin/python3.9 -c 'import io, os, sys, setuptools, tokenize; sys.argv[0] = '"'"'/tmp/pip-install-j9vpaf6i/ffcv_c2eb5c5207c34d81ac29a3ccddbb59fb/setup.py'"'"'; __file__='"'"'/tmp/pip-install-j9vpaf6i/ffcv_c

[2022-01-20 04:17] GuillaumeLeclerc commented on #60
Hello,

Did you follow the installation instructions ? It looks like you are either missing `opencv4` or `libturbojpeg`

[2022-01-20 04:29] kshen6 opened #61 "Older versions of the cuda toolkit"
Thanks for releasing this! I'm excited to try it. Does it work with cudatoolkit 10.1 or 10.2, or does it need to be 11.3 and above?

[2022-01-20 04:50] normster opened #62 "Tokenizers in pipelines"
Is there a recommended way of using HuggingFace tokenizers inside ffcv pipelines? I realize I could pre-tokenize the text and store the raw ints in the dataset, but I'd like the flexibility of switching between different tokenizers without re-processing the dataset.

[2022-01-20 04:54] nicost opened #63 "Installation on Windows 10"
All goes well (after install VS2017 SDKs), except for "pip install ffcv".  Both versions are tested and yields:

[code]

Not sure where the logs are, but surely would expect 'pkgconfig' to be absent on Windows.

Any ideas?

[2022-01-20 04:56] GuillaumeLeclerc commented on #61
Oh it should work fine, just make sure you install the one that matches Pytorch. Feel free to reopen if you have a specific problem

[2022-01-20 04:56] #61 closed

[2022-01-20 04:58] GuillaumeLeclerc commented on #63
Hello,

Unfortunately none of us own a windows machine so it will be hard for us to help troubleshoot this. We did not intend to support Windows in the first place.

We use `pkg-config` to find the paths to the `libturbojpeg` and `opencv` libraries. You could craft your own `setup.py` with the correct paths to these libraries.

Hope it helps :/

[2022-01-20 05:02] GuillaumeLeclerc commented on #62
Hello,

I don't have experience with them. Can you provide more information:
- What FFCV Field are you using ?
- What is the data type a tokenizer expects as an input ?
- What is the output data type ?
- Do they work by batch or by sample ?
- Are they implemented in python or in lower level language and accessed through `cffi` or python modules ?

[2022-01-20 05:31] normster commented on #62
I'm storing the textual metadata in a JSON field. Here is a quick tour of how they work: https://huggingface.co/docs/transformers/preprocessing. They expect strings as input and can output PyTorch or TensorFlow tensors or a list of int literals. They work on both batched (as a list) or single strings. They come in two varieties: a full python version and a faster version which wraps an underlying

[2022-01-20 06:04] Vandermode opened #64 "Cifar10 example: very slow training speed on P100 GPU"
Hello, as the title suggested, I run the cifar example code on a tesla-p100 gpu, but got a very slow training speed (784.29492) compared to the official stated one (36 s). Anything wrong in my setting? I don't think the p100 gpu is 20x slower than a100.

Below is the command line output (directly copy & paste and don't format it, sorry for that)

(ffcv) ➜  ffcv python train_cifar10.py --config-fil

[2022-01-20 06:13] GuillaumeLeclerc commented on #64
Hello,

Thanks for reporting! This is definitely not normal. The first thing I would try to troubleshoot is change the code and remove the body of the training loop to see if comes from the model training or data loading.

Keep us updated :)

[2022-01-20 06:27] geekchen007 commented on #60
I follow the installation instructions， opencv4 or libturbojpeg is ok.
(ffcv) $ pkg-config --cflags --libs opencv4
-I//anaconda3/envs/ffcv/include/opencv4 -L/data/chenkun/anaconda3/envs/ffcv/lib -lopencv_gapi -lopencv_stitching -lopencv_alphamat -lopencv_aruco -lopencv_barcode -lopencv_bgsegm -lopencv_bioinspired -lopencv_ccalib -lopencv_cvv -lopencv_dnn_objdetect -lopencv_dnn_superres -lopencv_dp

[2022-01-20 06:47] GuillaumeLeclerc commented on #60
That's a good start!

Could you run clone the repo and run `python setup.py build` and inspect what you get in the variable `extension_kwargs` ?

[2022-01-20 07:01] geekchen007 commented on #60
Thanks to your promotion, I found a fix. Details are as follows:
The code of my Linux terminal is incorrect. When you run pkg-config --cflags --libs XXX, a message is displayed.
“bash: warning: setlocale: LC_ALL: cannot change locale (en_US.utf-8)”  and extension_kwargs is read by mistake.
---------------------------------------------------------------------------------
def pkgconfig(package, kw):

[2022-01-20 07:05] GuillaumeLeclerc commented on #60
Great. Happy it worked for you. I'll close and feel free to open a new issue if you face a problem

[2022-01-20 07:05] #60 closed

[2022-01-20 07:07] GuillaumeLeclerc commented on #62
Do you need all the three elements of the dict that the tokenizer returns ?

[2022-01-20 07:43] normster commented on #62
Not always but often- the token types ids are more useful for specific NLP tasks. For my use case (replacing [this](https://github.com/facebookresearch/SLIP/blob/main/datasets.py#L100) dataset for CLIP training) we need the attention mask in addition to the input ids because not all captions span the full length.

[2022-01-20 07:56] Vandermode commented on #64
I comment the model training part and keep the data loading. The resulting time is 54.01541. It looks like both model training and data loading are very slow.

███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 97/97 [00:00<00:00, 182.94it/s]
Total time: 54.01541
100%|█████████████████████████

[2022-01-20 08:01] GuillaumeLeclerc commented on #64
Let's focus on the data loading part first. Keep the body of the training loop empty and remove the two ToDevice() operations in the loading pipeline, does it help ?

[2022-01-20 08:18] Vandermode commented on #64
Following your suggestion, ridiculously, the speed is even slower. FYI, my computing device is based upon a HPC-GPU cluster at Princeton.

100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 97/97 [00:02<00:00, 40.68it/s]
Total time: 104.98336

[2022-01-20 08:21] Vandermode commented on #64
[code]

[2022-01-20 08:25] GuillaumeLeclerc commented on #64
Thank you that's exactly the modifications I had in mind. This is truly crazy. Are all the epochs this slow or just the first one ?

[2022-01-20 08:29] Vandermode commented on #64
All the epochs as I can tell. 182.94 -> 40.68it/s

[2022-01-20 08:32] GuillaumeLeclerc commented on #64
182sec per epoch ?

I think the next step would be to try to identify:
1. Which pipeline is slow. You can disable one or the other by passing `None` instead of an array of operation
2. Which operation is slow, Removing operations in the pipeline until it's not slow anymore.

This way we will be able to narrow down the problem.

[2022-01-20 08:38] Vandermode commented on #64
Sorry for the confusing clarification. The time info is: 1) unmodified full setting: 784s; 2) + keep the body of the training loop empty: 54s ; 3) from 2) + remove the two ToDevice() operations: 104s

[2022-01-20 08:41] Vandermode commented on #64
I have no time to further dig into the code segments. So I leave the question open, and hope it could be addressed soon. Anyway, thanks for your help:)

[2022-01-20 08:42] GuillaumeLeclerc commented on #64
Feel free to come with more information and we will do our best

[2022-01-20 08:44] javirk commented on #51
PR done! I only tried on MacOS, so please check that everything works on other systems.

[2022-01-20 09:07] jeannotes opened #67 "any support for python3.6?"
in python3.5, it appears:
    from multiprocessing import (shared_memory, cpu_count, Queue, Process, Value)
ImportError: cannot import name 'shared_memory'

will you support 3.6

[2022-01-20 09:15] GuillaumeLeclerc commented on #67
No, it's sadly fundamentally impossible. A big part of the performance of FFCV comes from the efficient communication between the workers and is enabled by the package `multiprocessing.shared_memory`. This is for this reason that we don't have a Google Colab example yet (it only supports python 3.7)

[2022-01-20 09:15] #67 closed

[2022-01-20 09:30] GuillaumeLeclerc commented on #44
Keep us up to date @YassineYousfi. I also wanted to leverage JPEG's ability to decode lower resolution to reduce the amount of resizing done at training time but I have been too busy to add it yet :/

[2022-01-20 12:03] nils-werner opened #69 "Documentation about what FFCV does?"
The docs currently mainly say that using FFCV is fast by solving bottlenecks. Maybe I missed it, but I couldn't find any technical details about what exactly FFCV does to solve those bottlenecks. Can you expand the docs a little bit?

Another lib in this field, [WebDataset](https://webdataset.github.io/webdataset/) is pretty explicit about what it does to improve speeds:

With this information it

[2022-01-20 15:27] VovaTch opened #70 "Object detection (DETR/ DefDETR) support and varying size float tensors per image"
Hello, I couldn't find anything regarding Coco or similar datasets... I have a dataset with varying number of bounding box detections per image, and I want to use FFCV to speed up my training (transformer-based nets are slow to train...). Is there a way to include a field with tensors/ndarrays of varying length without resorting to JSON workarounds or starting messing with additional padding?

Als

[2022-01-20 16:00] paantya opened #72 "support pytorch-lightning"
Please tell me, is it possible to replace the dataloader in pytorch-lightning, inside the datamodule with yours and will it start up easily?
or will dances with tambourines be needed?

[2022-01-20 16:00] paantya commented on #72
https://github.com/PyTorchLightning/pytorch-lightning/issues/11553

[2022-01-20 16:09] paantya commented on #72
https://github.com/PyTorchLightning/pytorch-lightning/issues/11538

[2022-01-20 18:01] GuillaumeLeclerc commented on #70
I assume that at each training step you will need all the bounding boxes. Knowing that bounding boxes are small objects I don't think that it is worth resorting to variable storage methods (which are slower than constant ones). My first intuition would be to use a fixed array of dimension (K, 4) where K is the max number of bounding boxes (and keep the actual number of bounding boxes used in a par

[2022-01-20 18:14] VovaTch commented on #70
So let me be clear on what my model gets and spits out. My model takes an RGB image (clear enough how to do so from the documentation), and outputs Nx4 bounding box coordinates, NxC class logits, and an NxN matrix with values between 0 and 1. The targets are K << N bounding boxes, N object classes with most of them being "empty", and KxK matrix, which I use np.ix_ to extract the relevant values. L

[2022-01-20 18:18] normster opened #73 "Extra bytes when decoding ByteField"
Hi,

I'm encoding and storing string fields in my dataset under the ByteField with:

[code]

When I decode the same field in the loader, I'm getting a bunch of extra trailing bytes:

[code]

Where do these extra bytes come from?

[2022-01-20 18:23] GuillaumeLeclerc commented on #73
Tensors (numpy/pytorch) are dense by default and we are processing batches. There is no way to have one sample with 10 characters and another sample with 15 and have them on the same batch. There is no other solution than doing padding. To my knowledge most neural network take padded text as an input similar to what you are showing. Which model are you using ?

[2022-01-20 18:25] GuillaumeLeclerc commented on #72
Hello,

We currently have a temporary solution (i.e. dances with tambourines) but PTL guys are working hard so that you can get the benefit of both :smiley:

https://gist.github.com/GuillaumeLeclerc/49faabbe399c6cf21cfb8e9711249e10

[2022-01-20 18:38] GuillaumeLeclerc commented on #70
I personally strongly recommend doing the padding. Constant size is usually the most performant solution (there is a reason why the network itself uses a constant).

However if you really want to avoid that you can use a variable ByteArray field and then just use `view` to convert it back to float.
If there is a real reason for not using padding I could find a way to make it more straightforwards.

[2022-01-20 18:41] andrewilyas commented on #73
hi @normster ! If the strings are relatively small and roughly consistent in size, you might be able to get a bit more performance out of an NDArrayField rather than BytesField. See this comment for a working example of saving and loading variable-length strings with NDArrayField: https://github.com/libffcv/ffcv/issues/57#issuecomment-1016529098

[2022-01-20 19:03] normster commented on #73
Thanks for the replies! I understand the need for padding and the tokenizer will be able to pad a shorter string appropriately but I'm confused where the extra non-null bytes are coming from and how I can remove them. Is it because ffcv doesn't zero-out the allocated memory?

@andrewilyas thanks for the suggestion! Does that field pad all entries up to the MAX_STIRNG_SIZE? My current bottleneck is

[2022-01-20 19:04] andrewilyas commented on #73
Exactly yeah! It will pad up to MAX_STRING_SIZE with null bytes, so if MAX_STRING_SIZE is something reasonably small I think it might be faster and easier than using Bytes.

[2022-01-20 19:05] normster commented on #73
Ah I see. In my case the strings are somewhat inconsistent in length so it might incur a large storage cost unless I set the MAX_STRING_SIZE to something small but I'll keep this in mind :)

[2022-01-20 19:31] andrewilyas commented on #73
Makes sense! AFAIK I think that there are no guarantees for the padding of ByteField as of now, so the best thing to do for now would be to store the length of the string as a field and slice it that way.

[2022-01-20 19:47] normster commented on #73
Sounds good!

[2022-01-20 20:38] VovaTch commented on #70
Ok, I'll try padding.

To my other point, I do think adding support for bounding box augmentations can be highly beneficial, e.g. mirror-flipping the bounding box coordinates along with the image.

[2022-01-20 20:38] #70 closed

[2022-01-20 20:40] #69 closed

[2022-01-21 00:27] andrewilyas commented on #73
Closing this now, feel free to re-open (or open another issue) if anything else comes up!

[2022-01-21 00:27] #73 closed

[2022-01-21 01:41] killawhale2 opened #75 "Support for Docker?"
I know that there is an installation guide using conda but I was wondering if there will be support for pre-built docker images too. I prefer to not use conda on shared servers and would very much appreciate it if there was a docker image (or dockerfile) that I can grab and quickly use.

In the meantime, it might also serve as a short-term solution to simply put together a requirements.txt file fo

[2022-01-21 04:08] cod3r0k commented on #60
Do we just need to install it with conda? Can't we install it with pip and virtualenv? @GuillaumeLeclerc @geekchen007

[2022-01-21 07:01] kynk94 commented on #63
I built ffcv successfully with my Windows 10 PC
This is the installation process I did.

Install opencv (https://opencv.org/releases/)
After install opencv, move to **C:/opencv**

Install libjpeg-turbo (https://sourceforge.net/projects/libjpeg-turbo/)
download libjpeg-turbo-x.x.x-**vc64**.exe, not gcc64

Install pthread (https://www.sourceware.org/pthreads-win32/)
I downloaded pthreads-w32-2-9-1-r

[2022-01-21 07:50] tchaton commented on #72
Hey @GuillaumeLeclerc. Would you mind trying out our latest integration (Bagua) in PyTorch Lightning (not merged yet). Here is the branch: https://github.com/PyTorchLightning/pytorch-lightning/pull/11146/files#diff-ce0c8bb0f522dbc594912bc908a6511a9e237c54eaca71043026a2c62a71de4eR543

Here is their repo: https://github.com/BaguaSys/bagua

![image](https://user-images.githubusercontent.com/12861981/

[2022-01-21 07:58] GuillaumeLeclerc commented on #75
We are working on it

[2022-01-21 11:54] GuillaumeLeclerc commented on #75
Pinging @Hadisalman so that he can update the post when he managed to get this working.

[2022-01-21 11:55] GuillaumeLeclerc commented on #63
That's amazing. Feel tree to make a pull request if you are fine making this available to other users. In the meantime I will close this issue.

[2022-01-21 11:55] #63 closed

[2022-01-21 12:03] vturrisi opened #77 "Two or more crops for a single image"
Hey! Thank you for the great work.

Is it possible to apply the same pipeline multiple times to the same image? From what I checked, this is currently not possible as it seems that the images are loaded and cropped within a single operation. Is there any way to go around this, loading the image only once and applying the augmentations pipelines multiple times?

[2022-01-21 12:07] anvarganiev opened #78 "What is the .beton file format?"
I am trying to use Loader for my own dataset class.  I tried:
`train_dataloader = Loader(train_dataset, batch_size=256, num_workers=8, order=OrderOption.RANDOM)`
But there was an error, then I found _Loader_ class in _ffcv_, and found parameter _fname_:
`fname: str
        Full path to the location of the dataset (.beton file format).`
So I cannot find out what is the .beton file format. Could any

[2022-01-21 12:11] GuillaumeLeclerc commented on #78
One of the many reasons behind the speed behind FFCV is that it uses an optimized format to store the dataset. You will need to convert your dataset before loading it. Here is the relevant part of the documentation: https://docs.ffcv.io/writing_datasets.html

Feel free to reopen if you have further questions.

[2022-01-21 12:11] #78 closed

[2022-01-21 12:12] GuillaumeLeclerc commented on #77
Hello,

Can you clarify exactly what you are trying to do ? I'm sure we can find a way to work it out.

The reason they are currently fused is because we are working with batches so all images have to have the same size as they exit the first operation of the pipeline

[2022-01-21 12:23] vturrisi commented on #77
For self-supervised learning you usually need 2 or more crops of the same image. With torchvision this is pretty easy as you can do something like wrapping the transformations with a custom class that calls the underlying transformations multiple times. For example
[code]
where base_transform is something like this
[code]

Can the same be accomplished with ffcv?

[2022-01-21 12:29] GuillaumeLeclerc commented on #77
I see, that's a very good point. We actually got a similar request. The
idea would be to have multiple pipelines use the same field name as source.
That would work for this use case right ?

On Fri, Jan 21, 2022, 7:24 AM Victor Turrisi ***@***.***>
wrote:

[2022-01-21 12:33] vturrisi commented on #77
Exactly, I think so.

[2022-01-21 12:34] GuillaumeLeclerc commented on #77
As a temporary solution you could extend the original decoder and have it
output images with double the height and have the two crop stiched
together. In your loop you could split them.

On Fri, Jan 21, 2022, 7:29 AM Guillaume Leclerc <
***@***.***> wrote:

[2022-01-21 12:38] vturrisi commented on #77
I see, but I still think this wouldn't solve it since the random parameters for the other augmentations are generated twice (one for each crop). If there's anything that I could help let me know. Looking forward to using ffcv :)

[2022-01-21 20:44] Hadisalman commented on #75
Hi @killawhale2 ! We just added a [Dockerfile](https://github.com/libffcv/ffcv/blob/main/docker/Dockerfile). Please let us know if face any problems using it.

[2022-01-21 22:07] PiaCuk opened #80 "TypeError in NormalizeImage"
I'm trying to train a model on ImageNet with FFCV. I created a conda environment as written in install.sh and wrote ImageNet to a .ffcv with `./write_imagenet.sh 500 0.50 90` from  [ffcv-imagenet](https://github.com/libffcv/ffcv-imagenet). This is the error that I get:

[code]

I replaced the DataLoader of a working PyTorch training pipeline with this:

[code]
Any ideas on what is causing the prob

[2022-01-21 22:10] andrewilyas commented on #77
Hi @vturrisi ! One thing that might work for now is to just create two ``Loader`` objects, point them at the same dataset file, initialize them with the same ``seed`` (the seed is just for batch ordering so it won't mess with the augmentations), and then ``zip`` them together---I can make a minimal example if it helps!

[2022-01-21 22:18] andrewilyas commented on #80
Hi @PiaCuk ! Can you post the versions of Python, PyTorch, and NumPy you are using?

[2022-01-21 22:20] vturrisi commented on #77
Hey @andrewilyas, yeah, what you suggested will for sure work. However, wouldn't this be too slow since the images are loaded once for each crop?

[2022-01-21 22:27] andrewilyas commented on #77
Yeah this will be a little slower but I think it could still be fast enough to saturate most GPUs, especially if it's a simple 2-crop algorithm. Data on how it scales with # crops would be very much appreciated!! We'll keep you updated as we figure out how to support feeding the same field through multiple pipelines!

[2022-01-21 22:32] PiaCuk commented on #80
Hey, thanks for the quick reply! I've been meaning to post an update just now. I'm using Python 3.9.9, Numpy 1.21.5, and I just updated PyTorch from 1.7.1 to 1.10.1. Here's the new error message:
[code]

[2022-01-21 22:37] andrewilyas commented on #80
Oh ok! I think this error now has nothing to do with NormalizeImage, and instead the problem is just that your model is in full-precision mode while FFCV is loading the data in half-precision format. You can either convert the training code to work with half-precision (which I would recommend as you will see significant speedups even outside of data loading), or  you can load the data in full-prec

[2022-01-21 22:45] PiaCuk commented on #80
Thank you, this makes a lot of sense now! I will look into it.

[2022-01-21 22:46] #80 closed

[2022-01-21 22:47] vturrisi commented on #77
There will also be an impact on ram usage right? I'll get to you tomorrow with some data regarding how it scales in time and memory.

[2022-01-22 01:18] GuillaumeLeclerc commented on #77
Definitely no impact with is caching

[2022-01-22 02:18] GuillaumeLeclerc commented on #75
@Hadisalman Do we want to mention docker in the documentation or it's not worth ?

[2022-01-22 02:19] GuillaumeLeclerc commented on #72
@lengstrom I know you have all the benchmark setups already on hand, would you mind trying that out ?

[2022-01-22 02:20] GuillaumeLeclerc commented on #64
Hi. I'm just going to close it temporarily just to avoid our roadmap to be cluttered but reopen it as soon you have more information and it will show up on our radar again

[2022-01-22 02:20] #64 closed

[2022-01-22 02:24] GuillaumeLeclerc commented on #44
I think this thread has been dealt with. @YassineYousfi Feel free to start a new conversation about these specific topics.

[2022-01-22 02:24] #44 closed

[2022-01-22 02:28] GuillaumeLeclerc commented on #57
Hopefully this was helpful to you @shashankvasisht. If you have more questions feel free to reopen. I'll close in the meantime

[2022-01-22 02:28] #57 closed

[2022-01-22 02:32] GuillaumeLeclerc opened #81 "Support for RL workloads"
After receiving request from multiple I'm creating this issue to track the progress on the support for RL workloads within FFCV.

The main current need right now is:
- Allow sharing of data between multiple samples (as a given training sample is usually characterized as a subset of a sequence shared among multiple other samples).

It seems that it should be possible to do that with a custom field

[2022-01-22 04:28] Hadisalman commented on #75
@GuillaumeLeclerc sure we can add a note.

[2022-01-22 04:45] Hadisalman commented on #75
Done 1d94d23a910fc44542a536274d6f52b162d62069.

[2022-01-22 05:35] #75 closed

[2022-01-22 06:04] GuillaumeLeclerc opened #82 "Support the ability of creating multiple distinct pipelines out of the same source"
This would be a clean solution to #77

[2022-01-22 06:05] GuillaumeLeclerc commented on #77
I'm going to close this issue in favor of #82 which is about implementing the actual clean solution to what is faced by this issue. If you want to discuss the temporary solution we can reopen this one

[2022-01-22 06:05] #77 closed

[2022-01-22 06:18] GuillaumeLeclerc opened #83 "Support NLP workloads"
This includes:

- [ ] Show an example now how to pass text and padding (it should work with the code base as it is now)
- [ ] Integrate slow pytorch based HuggingFace Tokenizers
- [ ] Integrate fast Rust based HuggingFace Tokenizers

I definitely don't have the bandwidth to do that now but I'm keeping this issue if someone wants to work on it.

[2022-01-22 10:38] chengxuz opened #84 "torch.nn.Module classes cannot be used in Pipeline"
I tried to add color jittering augmentation to the ImageNet training through inserting line `torchvision.transforms.ColorJitter(.4,.4,.4)` right after `RandomHorizontalFlip`, but met this error:

[code]

Any idea on what's happening here and how to fix this?

[2022-01-22 15:07] GuillaumeLeclerc commented on #84
It should be working. I'll take a look!

PS: Torch augmentations are really slow especially if you run them before copying them on the GPU. We recommend using them only for experimentation purposes. If an augmentation is useful you should consider implementing a numpy version (and optionally share it with the community).

[2022-01-22 15:16] GuillaumeLeclerc commented on #84
In the meantime does this PR fixes it for you ? https://github.com/libffcv/ffcv/pull/59

[2022-01-22 17:56] hemildesai opened #85 "Conda Env creation takes a long time"
Hi all,

I'm using the docs to create a new conda env for ffcv using
[code]

but it takes forever to resolve and create the environment. It would be nice to directly install the dependencies in a venv or have some other installation method.

[2022-01-22 17:58] andrewilyas commented on #84
@chengxuz can you post what your full pipeline was? From the output you posted, it looks like you might be trying to apply a torchvision transform on a NumPy array (i.e., before calling ToTensor).

[2022-01-22 18:06] chengxuz commented on #84
I did this to the ImageNet training pipeline (https://github.com/libffcv/ffcv-imagenet/blob/main/train_imagenet.py#L223):

[code]

I was following this doc: https://github.com/libffcv/ffcv/blob/main/docs/making_dataloaders.rst#transforms, which I guess is out-dated now?

[2022-01-22 18:13] chengxuz commented on #84
After moving the `torchvision.transforms.ColorJitter(.4,.4,.4)` after the ToTorchImage function, I think it works! Is this the best location for this transform to be?

Anyway, thanks for your help! It would be great if you can also update the document.

[2022-01-22 18:24] andrewilyas commented on #84
Yeah, all of the torchvision transforms operate on PyTorch tensors, so they have to be put after ToTorchImage---we will add this to the documentation and make the error message a bit more descriptive :) Thanks!

[2022-01-22 18:39] hemildesai commented on #85
Update: The amount of time is variable. It takes forever on an existing conda or miniconda installation but the time is decent on a new miniconda installation from scratch

[2022-01-22 18:39] #85 closed

[2022-01-22 19:09] shariqfarooq123 opened #86 "How to perform identical transformation on images and targets in dense prediction tasks?"
In dense prediction (or Pix2Pix) tasks such as segmentation, depth estimation etc, we often need to perform the same transformation on images and targets. e.g. Either both the image and the corresponding target should be horizontally flipped, or neither of them.

How do I achieve that with FFCV?

[2022-01-22 19:17] ar90n commented on #50
@andrewilyas
I tried your PR(https://github.com/libffcv/ffcv/pull/59) and got the following errors.

[code]

I think this error has occurred when jit compiled operations run after non-jit compiled operations.
To evaluate this assumption, I wrote the following simple Buffer operation.

[code]

And I evaluated the following simple  tests. These tests are motivated to reveal the reason of above error

[2022-01-22 19:33] vturrisi opened #87 "Sample indexes"
Is there any way to access specific sample indexes, e.g., given a minibatch, is it possible to know the unique index of each sample in it?

[2022-01-22 19:40] andrewilyas commented on #87
@vturrisi Yes! Inside a transform, you can set the with_indices flag to get access to image indices (https://docs.ffcv.io/ffcv_examples/transform_with_inds.html). You can also pass an ``indices=`` flag to the Loader in order to specify which indices you want to read (e.g., if you want to read indices in a specific order, you can pass a permutation of np.arange(dataset_len) to ``indices`` and then

[2022-01-22 19:42] davidrzs commented on #64
Had a similar problem with CIFAR10, where migrating from standard torchvision to FFCV increased the epoch training time from 3 minutes to 30 minutes. Calling `resnet(img_batch.contiguous())` instead of `resnet(img_batch)` solved the problem. Now, FFCV is at performance parity with the torchvision pipeline.
Feel free to dismiss my post as the issue is closed, but as I was having a similar problem,

[2022-01-22 19:46] vturrisi commented on #87
Hmm, I think that's not exactly what I need. What I want to do is access the indexes outside of the pipeline, something like
[code]
I don't need to influence the order the images are read, just need to access this info from outside. Is it doable?

[2022-01-22 19:49] davidrzs commented on #77
Had the same issue this afternoon; this is how I solved it:
(thought I would post it as others seem to need something similar so they can come and build from this)

Make CIFAR10 return the same image twice:
[code]
Create the dataset
[code]

Create train loader:
[code]
Now you get two augmentations of the same image!

[2022-01-22 20:06] vturrisi commented on #77
@davidrzs thanks for sharing. I'm going the route of creating multiple loaders and wrapping them. I'll share once it's working 100%.

[2022-01-22 20:18] andrewilyas commented on #87
I don't think it should be too hard to add support for this, let me think about whether its possible to do natively. In the meantime, the easiest possible workaround is just writing the beton file with indices (this will add no overhead at all when you don't want indices as you can just set ``pipelines={'idx': None, ...}`` when constructing the loader and it won't load the indices at all).

If re-

[2022-01-22 20:21] andrewilyas commented on #64
This could be due to poor support for (or improper use of) ``channels_last``---what happens in your example if you remove your ``.contiguous()`` call, pass ``channels_last=False`` to ``ToTorchImage`` and then also get rid of the ``model.to(memory_format=channels_last)`` call?

[2022-01-22 20:41] hyandell opened #88 "setup.py bugs"
Hi ffcv project,

I just wanted to note that the setup.py isn't noting the Apache-2.0 license, and that the url is old.

[2022-01-22 20:42] vturrisi commented on #84
To complement this, I'm also experimenting with a mixed ffcv/torchvision pipeline before writing the augmentations as ffcv and I noticed a weird behaviour. My pipeline is defined like this:
[code]
GPU memory oscillating between 10gb and 5/6gb. If I comment out the `RandomApply` operation, it is stable at around 6gb. Are there any new allocations that are made?

[2022-01-22 22:14] andrewilyas commented on #84
Memory is only pre-allocated for FFCV transforms, so the torchvision transforms there are probably allocating memory at each iteration. Rewriting the torchvision transform as an FFCV one will fix this!

[2022-01-22 22:14] andrewilyas commented on #88
Will put this on the TODO list---PRs welcome!

[2022-01-22 23:55] GuillaumeLeclerc commented on #87
We could have a `with_indices` on the `Loader` that would be very easy to add

[2022-01-22 23:56] chengxuz commented on #84
Just another followup on this, if the augmentation (like ColorJitter) is applied in this way, all images in the same batch will share the same augmentation dynamics, like the randomly determined color brightness, cotrast, saturation, and hue factors. This would be terrible for typical contrastive learning algorithms, so it seems that rewriting the transform as an FFCV one is indeed be needed.

[2022-01-22 23:56] GuillaumeLeclerc commented on #87
I'm going to start a new a `v0.0.3` branch and start adding all these little features and people can start testing before we release it.

[2022-01-22 23:59] GuillaumeLeclerc commented on #84
Can you clarify what you mean @chengxuz with an example. This might not be expected behavior

[2022-01-23 00:00] GuillaumeLeclerc commented on #88
Thank you for pointing that out @hyandell !

[2022-01-23 00:01] GuillaumeLeclerc commented on #64
Is it happening with the latest version of Cuda, cudnn and pytorch ?

[2022-01-23 00:21] chengxuz commented on #84
For example, if I add this augmentation [Random Grayscale](https://pytorch.org/vision/stable/transforms.html#torchvision.transforms.RandomGrayscale). I would expect that the images within the same batch would randomly be turned into grayscale with the probability I specified, meaning one image might be grayscale, the other image might not. This is achieved in typical usage of this module as it wil

[2022-01-23 00:28] vturrisi commented on #84
Haven't dove into FFCV's augmentations, but what dali does (and it also applies the pipeline to the whole batch) is using a multiplexing operation to decide which images to apply augmentations (https://docs.nvidia.com/deeplearning/dali/user-guide/docs/examples/general/expressions/expr_conditional_and_masking.html)

[2022-01-23 00:57] GuillaumeLeclerc commented on #84
@chengxuz Do you have a reproduction script because reading the documentation from torchvision it seems that it's not what would happen. FFCV passes the batch as is to the augmentation, if it flips the coin on a per image basis or for the whole batch is unfortunately beyond our control (but from what I understand it's not what they are doing)

[2022-01-23 01:04] GuillaumeLeclerc commented on #84
I personally checked and it seems that you are right @chengxuz. This sounds terribly unintuitive and imo should be reported to `torchvision`. FFCV handles images per image so this should never be a problem though.

[2022-01-23 02:14] chengxuz opened #90 "Bug for loader with indices specified"
When the distributed loader has indices specified, the returned order from the traversal_order function will be wrong. In both [Sequential](https://github.com/libffcv/ffcv/blob/main/ffcv/traversal_order/sequential.py#L30) and [Random](https://github.com/libffcv/ffcv/blob/main/ffcv/traversal_order/random.py#L27), the returned results are just relative indices always ranging from 0 to len(sampler),

[2022-01-23 02:19] GuillaumeLeclerc commented on #90
Thanks for reporting! What line/file are you referring to ?

[2022-01-23 02:31] GuillaumeLeclerc commented on #81
Here is an example I made using FFCV custom fields where there is a piece of data (episode) that is shared between multiple samples. I hope it helps some people out there.

# A collapsible section with markdown
<details>
  <summary>Dataset Code to import</summary>

[code]
</details>

[code]
<details>
  <summary>The code for the custom Field</summary>

[code]
</details>

And usage:

[code]

**Warni

[2022-01-23 02:32] GuillaumeLeclerc commented on #81
If this kind of thing is useful I could make the necessary changes to the writer to allow for multiple workers and support QUASI_RANDOM

[2022-01-23 02:34] chengxuz commented on #90
line numbers are specifed in my link to the Sequential and Random.

[2022-01-23 02:37] GuillaumeLeclerc commented on #87
I was adding this when I realized that just having a `with_indices` it might be problematic as there will be no way to copy them to the GPU or do anything with it. Is it something we think will be useful or should we stay with `with_indices` @andrewilyas  @vturrisi ?

[2022-01-23 02:41] GuillaumeLeclerc commented on #90
Sound great and it makes sense to me. I know it might be a lot to ask but if you could make a PR with a test that fails I would gladly fix this today

[2022-01-23 02:44] GuillaumeLeclerc commented on #88
Should be integrated in 0.0.3. Thanks @hyandell

[2022-01-23 02:44] #88 closed

[2022-01-23 02:45] GuillaumeLeclerc commented on #86
We already had a similar question @andrewilyas . Do you have a link to the original issue ?

[2022-01-23 03:58] GuillaumeLeclerc opened #92 "Support QUASI_RANDOM + distributed=True"

[2022-01-23 04:04] GuillaumeLeclerc commented on #90
don't worry about it blocked some time to do it tonight myself as it's high priority

[2022-01-23 04:37] GuillaumeLeclerc commented on #90
Fix should land in v0.0.3

PS: The bug wasn't there with QUASI_RANDOM because it actually doesn't support Distributed (created #92)

[2022-01-23 04:37] #90 closed

[2022-01-23 04:52] andrewilyas commented on #83
@GuillaumeLeclerc were you thinking something like this for the first task? https://github.com/libffcv/ffcv/issues/57#issuecomment-1016529098 If so I can clean it up and put it in a more prominent location (could maybe make a page about it in the docs?).

[2022-01-23 05:43] GuillaumeLeclerc commented on #83
I don't think this example shows how to get the actual length and pass it to the model right ?

[2022-01-23 05:58] GuillaumeLeclerc commented on #86
Hello @shariqfarooq123 @Callidior we are currently planning improvements of FFCV to make this kind of task. One suggested potential API from @andrewilyas would be the addition of a transform called `SynchronizeSeed(seed_offset=0)` that you can insert in both pipelines and that guarantees that forces the seed to a value that is identical (assuming seed_offset is the same).

Is it something that wou

[2022-01-23 10:13] vturrisi commented on #87
@GuillaumeLeclerc sorry, I didn't get it. If `with_indices` is problematic, what's the other option?

[2022-01-23 13:31] andrewilyas commented on #87
@vturrisi I think what Guillaume is saying is that with_indices would just return the indices as a scalar array (compare this to, e.g., an ``index`` pipeline that could do augmentations, do asynchronous copying to the GPU, etc). Maybe we could have an ``index_pipeline`` argument instead of ``with_indices`` that could fulfill this purpose without having to rewrite the baton file?

[2022-01-24 00:05] shariqfarooq123 commented on #86
Thanks for the response!

Yes, something like that could be useful and would solve this.

For now, I ended up setting the seed which is dependent on the indices inside the operation, as done in [Mixup](https://github.com/libffcv/ffcv/blob/1d94d23a910fc44542a536274d6f52b162d62069/ffcv/transforms/mixup.py#L40).

For maximum flexibility, it would be good to have the ability to implement custom "joint

[2022-01-24 01:24] GuillaumeLeclerc commented on #86
@shariqfarooq123 Could provide an example of how this would look like from the point of view of a user. I'm not really clear about that.

[2022-01-24 05:44] Joshua-Ren opened #95 "How to install ffcv using virtual environment?"
Hey, thanks very much for the awesome work! I'm wondering how could I install ffcv using the virtual environment, as by server doesn't support conda?

[2022-01-24 07:24] GuillaumeLeclerc commented on #95
Hello,

virtual environment manages pip packages. However two of dependencies `libturbojpeg` and `opencv` are not python package but C++ libraries. You can install them however you feel like (your operating system manager, conda, built from source etc....). Once this is done you should be able to just do `pip install`.

[2022-01-24 12:20] Callidior commented on #86
@GuillaumeLeclerc The proposed `SynchronizeSeed` transform would be a straightforward and easy to implement solution for the problem. However, I see a few potential issues.

In some cases, it would be necessary to insert this transform multiple times into a pipeline, before each transformation to be synchronized. This would be the case when one pipeline contains more transforms than the other, as

[2022-01-24 12:47] miraodasilva opened #98 "Audio and video support"
Hi,

My lab and I work almost exclusively with audio-visual data aka video and audio. I checked the docs and it seems these modalities are currently not supported. I saw a post about video support, but it doesn't seem like there was a lot of follow-up.

I was wondering, are there any plans to develop support for these modalities?

Thanks!

[2022-01-24 16:39] GuillaumeLeclerc commented on #98
Hello,

FFCV is very modular and these modalities can easily be added added by anyone with the current API. Because we are a very small team and also are students we hope that users understand we can't implement all possible type of data people might be interested. As for pytorch data loader we think it is fair that beyond a couple of basic examples users will implement what they need. Obviously w

[2022-01-24 17:10] carmocca opened #101 "Support `TorchTensorField`"
There should be a counterpart to `NDArrayField` for torch Tensors. This would be useful to convert existing `torch.utils.data.Dataset`s to `.beton`.

Following the API described in this guide: https://docs.ffcv.io/writing_datasets.html#writing-a-dataset-to-ffcv-format

[code]

Using `NDArrayField` currently fails with:

[code]

[2022-01-24 17:15] GuillaumeLeclerc commented on #86
Thank you @Callidior for the careful thoughts you put in this issue.

About the `SynchonizeSeed` there would be an argument so that you can have it multiple times in the pipeline as long as each group uses a different one. Based on my understanding of PRNGs, I don't see how using one synchronization would be worse than multiple.

As @juliustao pointed, there is a broader problem here. When using m

[2022-01-24 17:20] GuillaumeLeclerc commented on #101
I think it would just be easier to just check the type and convert tensors as part of the encode procedure of the NDarray field. Thoughts ?

I could also add what you suggest and make it extend NDarray field.

Any preference ? (Both are super easy and I'll add that in the next release for sure)

[2022-01-24 17:23] carmocca commented on #101
I think the added class (even if it's a minimal extension) is the simplest option

[2022-01-24 17:30] carmocca opened #103 "ValueError: could not broadcast input array from shape"
[code]

[code]

The cause is that `NDArrayField` requires that the output of `__getitem__` is a tuple:

[code]

resolves the issue.

Is this a bug or a hard-requirement?

[2022-01-24 18:24] lengstrom commented on #86
It seems like joint transformations are the only way to ergonomically + efficiently allow for shared state (even if the seed mechanism worked perfectly it feels like an opaque/strange way to share state)

[2022-01-24 18:35] GuillaumeLeclerc commented on #86
@lengstrom Any suggestion on how to solve the issues related to Joint transforms I raised?

[2022-01-24 19:09] GuillaumeLeclerc commented on #101
Trying to balance ICML submissions and adding features to FFCV but I'll try to have this today.

[2022-01-24 23:12] carmocca opened #104 "PickleError: Can't pickle local object 'NDArrayDecoder.generate_code.<locals>.decoder'"
Hi!

I am trying the integration of this library with PyTorch Lightning and the error in the title appears when the `ddp_spawn` strategy is used.

[code]

The cause is the definition of this local function:

https://github.com/libffcv/ffcv/blob/3d8eb68017519a6a6fb33c87491021f80bbcf0e5/ffcv/fields/ndarray.py#L35-L41

My advice is that you make sure all your different components are pickle-able as t

[2022-01-25 15:06] EvgeniaAR opened #105 "Issues with installation using Docker+conda"
Hi there,

I would love to test ffcv, but unfortunately have issues installing it :(. I am following the instructions in your Readme and this is the Dockerfile I am trying to build:

[code]

The error I am getting is:
[code]

Best,
Evgenia

[2022-01-25 15:15] Hadisalman commented on #105
Hi @EvgeniaAR! We actually have a [Dockerfile](https://github.com/libffcv/ffcv/blob/main/docker/Dockerfile) that should do everything for you.

[2022-01-25 15:37] EvgeniaAR commented on #105
@Hadisalman I feel so stupid, how did I miss that? :D :D The build worked perfectly with your docker file, thank you so much for the quick response!

[2022-01-25 15:37] #105 closed

[2022-01-25 20:01] bsmietanka opened #107 "Ambiguous exception during package setup"
When installing the package, e.g. via pip, and there's no `libturbojpeg` or `opencv4` package an ambiguous bare Exception() is raised, without any information about what went wrong:

https://github.com/libffcv/ffcv/blob/3d8eb68017519a6a6fb33c87491021f80bbcf0e5/setup.py#L18

[2022-01-25 21:16] andrewilyas commented on #107
Hi! We will get to this soon---feel free to submit a PR.

[2022-01-25 21:50] bsmietanka commented on #107
Thanks, I submitted a PR

[2022-01-26 05:26] YuhengHuang42 opened #109 "Segmentation fault when running the data loader"
Hi, I'm using FFCV to run my own dataset. The DatasetWriter works just fine, however, I encountered Segmentation fault while using ffcv.loader.

The process is just like this:
[code]

And the trace of the error:

[code]

I also noticed that the error may be related to `OrderOption`. For `OrderOption. QUASI_RANDOM ` the loader will fail after 3 batches of data is returned, while for `OrderOption.RA

[2022-01-26 10:47] anvarganiev opened #110 "ValueError: could not broadcast input array from shape 2*x into shape x"
My dataset's  `__getitem__` returns _image_ of shape (1, 32, 128) and _np.array_ of shape (1900).
I made a _writer_:
[code]
And when I call:
`writer.from_indexed_dataset(train_dataset)`
there is an error:
`ValueError: could not broadcast input array from shape (32768,) into shape (16384,)`
Wrapping image and array into a tuple at  `__getitem__` doesn't help (from https://github.com/libffcv/ffcv/is

[2022-01-26 12:34] andrewilyas commented on #110
It sounds like your dataset is return float64 rather than float32 (hence the writer is getting twice as many bits as it is expecting). Converting the output of __getitem__ to float32 (recommended) or making the dtype of the fields ``np.dtype("float64")`` should both resolve this error.

[2022-01-26 12:34] #107 closed

[2022-01-26 13:23] anvarganiev commented on #110
@andrewilyas you solved my problem. Thank you! It is training now, but there was _47 it/sec_ during casual training, with **FFCV** it's _53it/sec_.

[2022-01-26 13:23] #110 closed

[2022-01-26 13:30] andrewilyas commented on #84
@vturrisi FFCV also has per-image randomness in its augmentations (so I think the only augmentations that don't support this are the torchvision ones).

Since it looks like all the FFCV-related problems here are solved, I'll close this issue for now---feel free to re-open if there's anything we missed!

[2022-01-26 13:30] #84 closed

[2022-01-26 20:56] saarthak02 opened #112 "Regarding color jitter"
Hello,

Thanks a lot for releasing this amazing library, looking forward to use it in my pipelines.

I am able to make my model converge when I am using randomresizergb crop, flip, random grayscale from torchvision, and gaussian blur from torch vision. But whenever I am using color jitter my model is diverging. Is there some bug in using the color jitter from data encoded in beton format? Because

[2022-01-26 22:24] bsmietanka opened #113 "Loader stuck indefinitely in constructor"
Hello,
I tried to run a simple training script using FFCV loader by adapting an example from your README (script attached below). I first converted my custom dataset.
During execution, the program hangs indefinitely while consuming more and more memory and occupying one CPU core to 100%.
I run the script inside a Docker container built using Dockerfile provided in this repository.
When I interrupt

[2022-01-27 00:04] saarthak02 commented on #77
Hello,

I am trying to have 4 images out of pipeline. I saved them like :-

`writer = DatasetWriter(write_path, {
        # Roughly 25% of the images will be stored in raw and the other in jpeg
        'image': RGBImageField(
            write_mode='jpg', # Randomly compress
            jpeg_quality=60  # Use 50% quality when compressing an image using JPG
        ),
        'image_high': RGBImage

[2022-01-27 18:28] lykius commented on #37
Hi @andrewilyas,
`ffcv` is really promising, looking forward to its future!

I'm testing it in a simple application and it looks to me that there's still some problem with the `non_blocking` feature:

- If I use `ToDevice(0, non_blocking=True)`, I get some CUDA assert complaining that my labels are outside the range [0, n_classes].
- If I use `ToDevice(0, non_blocking=False)` everything works fine

[2022-01-27 18:53] GuillaumeLeclerc commented on #37
Sorry you are experiencing issues  Can you try v 0.0.3rc1 ?

Do you have an example that we could use to reproduce the bug ?

[2022-01-27 18:59] lykius commented on #37
Thanks for the reply @GuillaumeLeclerc,

I'll try version 0.0.3rc1 tomorrow in the morning and I'll see if I can prepare a minimum working example.

[2022-01-28 08:33] lykius commented on #60
Here's how I managed to install `ffcv` with pip:

- install opencv following [these instructions](https://docs.opencv.org/4.x/d7/d9f/tutorial_linux_install.html#tutorial_linux_install_quick_build_core), but adding the flag `-DOPENCV_GENERATE_PKGCONFIG=ON` when running `cmake  ../opencv-4.x`
- install libturbojpeg with `sudo apt install libturbojpeg libturbojpeg-dev`
- `pip install ffcv numba openc

[2022-01-28 09:00] lykius commented on #37
It looks like the issue is not present in version 0.0.3rc1.

[2022-01-28 15:00] Callidior commented on #86
Would it be too difficult to allocate memory per pipeline using the transform? For each pipeline, `declare_state_and_memory` would be called and dedicated memory be allocated. The destination of the transform is already passed to the function created by `generate_code`, so this would just be a different destination for each pipeline. Only the memory needed for storing the state would need to be sh

[2022-01-28 19:26] GuillaumeLeclerc commented on #113
Hello,

Thank you for the report! Is there a way you could upload a potentially reduced size dataset so that we can reproduce and identify(if the data is private you can just replace the images with white noise when you generate the .beton). Your code is technically correct and should definitely not hang and I want to understand what is going on. However
it seems you are using both `RANDOM` and Pr

[2022-01-28 19:31] GuillaumeLeclerc commented on #109
Hello!

Thank you for the report. What happens when you use `os_cache = True` does it also fail ?

Could you give a reduced version of your dataset that I could play with ?

One way to debug these kind of errors is to disable compilation. It will show the origin of the segmentation:

[code]

(the code will obviously run much slower)

[2022-01-28 19:51] GuillaumeLeclerc commented on #104
I'm not sure if it is actually possible to pickle this. It is a closure that captures a local variable which happen to be a pointer to a function. Even if I worked very hard to make the pickling process work, the pointer would be invalid and most likely lead to a segmentation fault. Which leads to actual problem here. This object should never be pickled. the output of `generate_code` is supposed t

[2022-01-28 19:52] bsmietanka commented on #113
I used multiple combinations of Loader parameters: all OrderOption with both os_cache=True and os_cache=False. I got the same results in both scenarios. Also, I tried loading just the smallest possible subset of my dataset by setting indices=[0]. But with no success.
I'll try to upload some version of dataset tomorrow (either white noise or just reduced size), but I'll just provide some informatio

[2022-01-28 19:55] GuillaumeLeclerc commented on #113
When you generate a .beton you can pass an array of indices you actualyl want to include in the dataset. Could you try with just the minimum of samples required to make the issue occur so that uploading/downloading is not a problem (I have a very limited internet connection right now).

[2022-01-28 19:59] GuillaumeLeclerc commented on #103
`__getitem__` need to return an object (Tuple, ndarray, list...) such that it is indexable and has a length equal to the number of fields specified in the DatasetWriter so that each field can be associated with the corresponding data. Here you have 1 field so, the length should be 1 but
[code]
has a length of `d` so it won't work as the first dimension (`d`) will be interpreted as the `field` dime

[2022-01-28 19:59] #103 closed

[2022-01-28 21:02] andrewilyas commented on #37
Great to hear!

[2022-01-28 23:00] chengxuz opened #114 "Additional GPU memory usage in the first GPU"
When training one network on multiple GPUs, I find the first GPU is going to have some memory used by processes run on other GPUs. Is there some way to avoid this? It is an issue as then the first GPU always will have more memory used than the other GPUs, meaning that the other GPUs need to have memory unused to let that possible.

[2022-01-29 00:34] GuillaumeLeclerc commented on #114
Hello,

This is definitely not normal behavior and I am investigating a report from someone else. Are you sure you have `ch.cuda.set_device` in your code appropriately? If not this is known for causing what you are describing.

[2022-01-29 00:35] GuillaumeLeclerc commented on #37
@lykius This is now in the 0.0.3 final release no need for the RC one.

[2022-01-29 01:00] GuillaumeLeclerc commented on #114
@chengxuz  Can you show me the output of nvidia-smi while this is running ?

[2022-01-29 01:08] chengxuz commented on #114
Here is the output from nvidia-smi. I have just confirmed that I have run `torch.cuda.set_device` in my code correctly.

[code]

[2022-01-29 01:10] GuillaumeLeclerc commented on #114
This is definitely not normal. I can reproduce right now with 2 GPUs. However, for me it's GPU1 that has two processes associated to it

It shouldn't take long to fix now that I can reproduce. Thank you for confirming what I suspected!

[2022-01-29 02:20] GuillaumeLeclerc commented on #114
Hello! Thanks for the report. It should land in v0.0.4. I might deploy a release candidate tonight. You can otherwise install directly from github (branch `v0.0.4`)

[2022-01-29 02:21] #114 closed

[2022-01-29 02:26] GuillaumeLeclerc commented on #60
@cod3r0k No `FFCV` needs C++ libraries and pip only install python packages so you have to either install them:
- through conda
- compile them manually (@lykius did this for opencv)
- with your OS package manager (@lykius did for libturbojpeg)

[2022-01-29 02:48] GuillaumeLeclerc commented on #101
Sorry for the ICML delay. This should land in v0.0.4 (possibly release candidate tonight)

[2022-01-29 02:48] #101 closed

[2022-01-29 03:09] GuillaumeLeclerc commented on #86
No you are right @Callidior. I guess the only problem is how to make it compatible with all previous and future augmentations

[2022-01-29 03:10] GuillaumeLeclerc commented on #77
@saarthak02 Can you create new issue ?

[2022-01-29 11:52] lykius commented on #37
Thanks guys!

[2022-01-29 13:48] Redevic opened #118 "How to install the library in google colab notebook?"
Hi, i try install ffcv in google colab using
!pip install ffcv
but i get an error :
ERROR: Could not find a version that satisfies the requirement ffcv (from versions: 0.0.1, 0.0.2, 0.0.3rc1, 0.0.3)
ERROR: No matching distribution found for ffcv.
![image](https://user-images.githubusercontent.com/98649930/151663478-1bc2c838-32f5-4c2c-a85e-90e870e663c3.png)

[2022-01-29 15:41] GuillaumeLeclerc commented on #118
Hello,

Unfortunately this is beyond our control. Colab only works with python 3.7.2 and FFCV requires at least 3.8. There is no change we could do to support 3.7 because `multiprocessing.shared_memory` was released as part of the standard library for python `3.8` As soon as Colab updates to 3.8 you should re-open this issue and we will provide an example

[2022-01-29 15:41] #118 closed

[2022-01-29 17:08] Redevic commented on #118
Got it. Thank you very much for the clarification

Сб, 29 янв. 2022 г. в 18:41, Guillaume Leclerc ***@***.***>:

[2022-01-30 09:16] GuillaumeLeclerc commented on #86
@Callidior I'm currently refactoring the codegen of FFCV to allow for joined operations and other features. I hope it's going to be done soon. I still think we also will add SyncSeed to enable simple use cases where a user just want to synchronize two operations without having to write a joined version of it

[2022-01-30 14:30] Callidior commented on #86
@GuillaumeLeclerc Great! I think the possibility of joint transformations that can share state across pipelines will be an important feature for FFCV. Regarding SyncSeed, the concerns with respect to multiple parallel data loading processes still remain, right?

[2022-01-31 12:05] bsmietanka commented on #113
I generated .beton file on a smaller subset of images and this way I found out it was a problem with the FFCV dataset. During dataset creation I got assert error from OpenCV resize function, when applied to images with either height or width == 1. This probably corrupted the .beton file. After I deleted those images it worked. Maybe it's worth checking such cases when saving a dataset or validatin

[2022-01-31 13:46] paulgavrikov opened #119 "CIFAR10 Example: Does it really use channels_last order?"
Hi, thank you for this very interesting library. I have a question regarding the cifar10 example you provide. In your transformation pipeline I find the following:

[code]

Now, it seems to me as if `ToTorchImage()` would change the order back to the regular torch format, which I also verified by outputting the shape of the loaded batch.

And then your load your model and add `.to(memory_format=to

[2022-01-31 21:09] jacobmanifold commented on #81
Hi, this script seems to not quite work in its current form, it throws an error:

[code]

I've been trying to debug it but no luck so far.

[2022-01-31 21:51] chengxuz opened #120 "RAM usage scales when more GPUs are used"
I notice that when my training process uses more GPUs, the RAM usage also increases, almost linearly w.r.t. the gpu number. Specifically, the 2-gpu training uses around 85GB and the 4-gpu training uses around 170GB, my dataset is 82GB and I am doing in_memory=True. Is this behavior expected?

One difference I find between how my training process and the ffcv-imagenet way of doing the training is t

[2022-02-01 01:08] Abhishekvats1997 opened #121 "Ability to write non RGB variable shaped tensors in dataset file."
Hi, Thanks for the amazing work.
Just wanted to point out a future enhancement i.e. when users have variable shaped tensors such as [8,2560,2560] and [8,2536,2536] as an example of their data samples and RandomCrops to generate tensors of the same shape so that their batch might be created, when one tries to implement such a use case in ffcv he is forced to take out the random transforms out of th

[2022-02-01 07:57] saarthak02 commented on #112
Hello,

I am using torchvision color jitter. Visually there is no difference as such, but when treaining, the model is not being able to converge.

Currently I am trying this :-

`        data_loader = Loader(args.data_path,
                        batch_size = args.batch_size_per_gpu,
                        num_workers = args.num_workers,
                        os_cache = True,

[2022-02-01 13:17] Kwentar opened #122 "Cannot find how DDP DistrubutedSampler works in ffcv"
Hi, in DDP training we have DistributedSampler which has `.set_epoch` method (https://pytorch.org/docs/stable/data.html)
It looks like:
[code]
How does it work here? Do we need do something for each epoch or we can just remove `sampler.set_epoch` while migrating to ffcv?

[2022-02-02 08:36] GuillaumeLeclerc commented on #122
Hi @Kwentar

We do not require that in FFCV, just use it normally. Please refer to our imagenet example which supports distributed training

[2022-02-02 08:36] #122 closed

[2022-02-02 08:37] GuillaumeLeclerc commented on #120
Hello @chengxuz .

This is a known bug that has been fixed. It will be part of the next release but you can already use it by using the branch v0.0.4

[2022-02-02 08:40] GuillaumeLeclerc commented on #119
Hello,

This doesn't change the shape of the tensor but it does change its strides. In other words, It doesn't change how you use it as a developer but it does change how it is stored in memory. channel_last will provide better performance on modern GPUs. For this reason we use it by default. It should not change anything for you other than improved performance.

Please refer to pytorch's document

[2022-02-02 08:40] #119 closed

[2022-02-02 08:45] GuillaumeLeclerc commented on #113
Hello @bsmietanka,

Sorry for the delay. Both of your pipelines should work. They do different things. In one case the normalization is performed on the GPU and the second is done on the CPU. I have seen similar issues with the original release. Could you try with the latest to see if it helps. If not could you post the complete code?

About the second problem, I suspect it must be a configuration

[2022-02-02 08:53] GuillaumeLeclerc commented on #81
I'll try to debug that now but I'll answer your general questions first.

1. to_binary and from binary are there to encode per_file settings that apply to a given field. In this example we are storing the shape of the individual frames. When the dataset is loaded this is then read and used to reshape the data appropriately. Without it there would be no way to distinguish between datasets with a 4x

[2022-02-02 09:26] GuillaumeLeclerc commented on #81
Everything should be fixed @jacobmanifold . I was simply writing the result in `bix` instead of `i` which was incorrect and out of bounds most of the time.

[2022-02-02 16:06] chengxuz commented on #120
Hi @GuillaumeLeclerc ,

All my tests were actually performed in branch v0.0.4 (as I used that to fix the GPU memory bug). So the fix does not seem to work for me.

[2022-02-02 16:58] jacobmanifold commented on #81
Thank you! I think you still have a small bug in `decode` where `my_memcpy(data, dest[i].view(np.uint8))` should be `my_memcpy(sl, dest[i].view(np.uint8))`.

Running this code now, it doesn't crash, but seems to still be an issue where datapoints are improperly loaded. To see this, I modified the dataset to load all-1s instead of all-random, and some points seem to get loaded as very small numbers

[2022-02-02 21:18] GuillaumeLeclerc commented on #120
Thanks for your answer. Are you using our imagenet example or did you write your own? Two things:

- Try with v0.0.4 and our imagenet example, that's what I tested
- If it works there and not in yours my suspicion is that you are missing `ch.cuda.set_device` in your code. FFCV uses the current device for the pipeline regardless of where you copy the tensor as you might want to prepare the data wit

[2022-02-02 21:24] chengxuz commented on #120
There must be some misunderstanding here. I think you were talking about an earlier bug I reported in [here](https://github.com/libffcv/ffcv/issues/114).

But here I am talking about the computer memory (RAM, am I using the wrong term?) not GPU memory. I don't understand why you mention the cuda set_device here, it's in my mind not related to the RAM usage at all. It should be related to how you a

[2022-02-03 00:42] GuillaumeLeclerc commented on #120
Oh sorry. I Indeed misunderstood. I don't know what you mean by in memory but the behavior is expected with os_cache=False. Indeed each process (one per GPU caches the data it needs).

If using os_cache=False. Make sure you use quasi random ordering as otherwise you will have a copy of the dataset in each process memory.

if you use os_cache=True. Do you divide your batch size when you use multipl

[2022-02-03 02:19] GuillaumeLeclerc commented on #112
Can you show the version that doesn't work ?

[2022-02-03 03:20] GuillaumeLeclerc commented on #121
Hi @Abhishekvats1997!

This is a very good suggestion. However since we are a limited team I think it's better for the original authors to focus on the "core" of FFCV and add features that can't be implemented using the current API. This is unfortunately not the case for this feature. Everything exists in FFCV to add your own Fields and Decoders and we would be happy to assist you in your implemen

[2022-02-03 03:22] GuillaumeLeclerc opened #123 "Enable memcpy to work on other arrays than uint8"

[2022-02-03 09:45] jeannotes opened #124 "for training imagenet, how to train in multiple machines with same gpu numbers?"
when train imagenet, if we have 4 machines with same number of gous, how to train imagenet, any instructions?

thanks!

[2022-02-03 12:59] dpaleka opened #125 "Typo in code in operation.py"
This does not actually seem to be an issue, but it is annoying to see and may break something later.
https://github.com/libffcv/ffcv/blob/89dc2fabd59f85aab5826b294bc0d34eb236cea4/ffcv/pipeline/operation.py#L16

[2022-02-03 20:54] #125 closed

[2022-02-03 20:56] GuillaumeLeclerc commented on #124
FFCV replaces the DistributedSampler of pytorch. Otherwise the usage is the same. Please refer to Pyotrch documentation for more information.

PS: We rarely find it useful to train ImageNet on more than one machine, you get significant slowdown if you don't have a high speed networking interface and you pay more at each gradient synchronization.

[2022-02-03 20:56] #124 closed

[2022-02-03 22:17] jyhong836 commented on #77
Hi @davidrzs
I tried your solution in contrastive learning with the below transforms.
[code]
But I found that the data loading is much slower than using a single image with one pipeline. Even worse. The loading is much slower than using PyTorch standard loader with more complicated transforms:
[code]
Do you have the same issue?

[2022-02-03 23:46] GuillaumeLeclerc commented on #77
Yeah it's completely expected. You are using pytorch augmentations. They are written in python, which means a single one can run at a given time per process.

Pytorch spawns sub-processes which means they can run them in parallel, but it's also very inefficient because processes can't share memory and have to communicate with IPC instead of shared

 FFCV supports Pytorch augmentations just to **ex

[2022-02-03 23:53] GuillaumeLeclerc opened #127 "Warn users when they are using Pytorch augmentations on the CPU"
It seems that users have tendency to use slow Pytorch augmentations on the CPU with FFCV and expected good performance. We should issue a warning and suggest they replace them with an FFCV augmentation or move it on the GPU

[2022-02-03 23:55] GuillaumeLeclerc commented on #77
(I created an issue #127 to issue a warning in this situation so that users don't expect good performance in this case)

[2022-02-04 01:22] jyhong836 commented on #77
Thanks for your reply.
When I use only FFCV augmentations, the two pipeline implementation with FFCV loading is still slower (though comparable) than the PyTorch loading with two-view transforms.
I suppose the problem is because loading two images is slower than loading one image (even by PyTorch).
[code]

[2022-02-04 02:22] jeannotes opened #128 "imagenet training increasing gpu memory usage"
hi, recently I train imagenet using gpus, everything works fine, but as epochs increase, the gpu memory increase too, why?

[2022-02-04 03:09] GuillaumeLeclerc commented on #77
Can I see your `image_pipeline`, `image_pipeline1`, and `label_pipeline`.

How is your CPU usage ?

(I haven't yet sen a situation where FFCV is not at least 10x faster than Pytorch, so I still strongly suspect there is a misconfiguration somewhere in your code)

[2022-02-04 03:12] GuillaumeLeclerc commented on #77
(also @andrewilyas was suggesting `zip` any reason why you are not using this instead of saving your images twice ?)

[2022-02-04 03:14] GuillaumeLeclerc commented on #128
Probably an issue in your code.

(If you want us to be able to help you we will need more than a single sentence)

[2022-02-04 03:14] #128 closed

[2022-02-04 06:46] jyhong836 commented on #77
`zip` is a good idea. I will try it and come back to you later.

Here is my `imagepipeline` (the same for `imagepipeline1`),
[code]
and `label_pipeline: List[Operation] = [NDArrayDecoder(), trns.ToTensor(), Squeeze()]`.
My CPU use
![image](https://user-images.githubusercontent.com/6964516/152481702-1b0d3d8a-961d-42ee-bbcc-ea80968a3b27.png)

Other information. It takes me 2min 2secs to finish one e

[2022-02-04 08:12] GuillaumeLeclerc commented on #77
Also:
I see a lot of red on your htop (kernel time) so it seems that you have a lot of overhead (probably scheduling overhead). How many workers are you using?

[2022-02-04 08:13] GuillaumeLeclerc commented on #77
Also you seem to be CPU bottleneck. Why not having the `Convert` after the ToDevice instead of doing it on the CPU (and also transmitting more data over the PCI bus) ?

[2022-02-04 15:43] jyhong836 commented on #77
I store the images by using the default fields. The images are from CelebA dataset of size (178, 218), stored in 'raw' format. `attribute` is a 40-dimensional vector per sample.
[code]
I used 8 workers.

Following your advice, here is some methods that works
* Move images to GPU as early as possible. Improve by 10 seconds.

Some methods that do not work
* Use `jpeg` instead of `raw` on writing ima

[2022-02-04 18:38] GuillaumeLeclerc commented on #77
I you have an hyper-threaded processor. I would recommend using as many workers as you have physical cores on your processor (usually what htop shows / 2). And divide by 2 again when you use zip since you have two loaders.

I don't think the attribute is causing any slowdown. I think the main bottleneck right now is image resizing and right now with your pipeline you are doing it twice. I'm curren

[2022-02-04 19:23] kgonia opened #130 "Working with large dataset on Multi-GPU - Questions about limitations"
Since QUASI_RANDOM isn’t currently with distributed=True if I have large dataset on I should have machine that is able to cache whole dataset in memory?

Is it make sense to put ToDevice() method in loading pipeline if I have several GPUs?

[2022-02-04 20:25] GuillaumeLeclerc commented on #130
Hello @kgonia!

For now yeah if want to train in a distributed fashion it's best if your dataset fits in memory. I hope that we can add support for that soon but I'm currently focusing other more pressing features.

Yeah it makes perfect sense to put the ToDevice if you have multiple GPUs since you should have one pipeline per GPU anyway. (Don't forget to call `ch.cuda.set_device`). You should tak

[2022-02-04 20:25] #130 closed

[2022-02-05 00:59] davidrzs commented on #77
Yeah, I had to do this trick to get performance parity with the old pipeline https://github.com/libffcv/ffcv/issues/64#issuecomment-1019346083 . Though it is hacky! I have reverted to the old standard PyTorch pipeline as the speed was already decent enough, so I cannot give you more information.

[2022-02-05 01:03] davidrzs commented on #64
Sorry for my late reply; had some deadlines. I have reverted to the standard PyTorch pipeline as it was decent enough.
PyTorch was 1.10, CUDA 11.2 and cudnn 8200. But it is very likely my fault, as I was using a normal PyTorch transform in the pipeline too.

[2022-02-05 15:32] jeannotes commented on #124
@GuillaumeLeclerc hopes that you give  a hint.
like this
`
python  -m torch.distributed.launch \
    --nproc_per_node=2 \
    --nnodes=2 \
    --node_rank=1 \
     train_imagenet.py --config-file rn50_configs/rn50_88_epochs.yaml \
    --data.train_dataset=/home/star/Documents/jh/data/imagenet/imagenet_generate/train_500_0.50_90.ffcv \
    --data.val_dataset=/home/star/Documents/jh/data/imagenet/im

[2022-02-05 21:20] GuillaumeLeclerc commented on #124
To train in a distributed fashion you need to spawn multiple processes. You can either

1. spawn them from **inside** the main script script
2. use `torch.distributed.launch` (which acts as the main script).

Because ti's easier to use for most people in our example we use the first option. What I suspect is happening in your example is that you are doing both 1. and 2. To make it work with option

[2022-02-06 06:34] exnx opened #133 "can't pip install ffcv"
Hi, I have an existing conda environment that I'm trying to add ffcv to.  Oddly enough, if I create a new conda environment with ffcv in it (via the conda create line given in the docs), I can import ffcv just fine. However, if I want to add the ffcv dependancies to an existing conda environment, ffcv won't install.  Here's my work flow.

(Note: I used pip instead of conda install because I get so

[2022-02-06 13:27] njwfish opened #134 "Torchvision transformations (inherit module) breaks loader"
Using torchvision transformations I see the following issue:

[code]

I get this issue using exactly the CIFAR10 example on a single GPU but adding torchvision.transforms.ColorJitter(.4,.4,.4) to the loader. I am running on Fedora, with CUDA 11.2 on a GTX 1080. I get similar issues for other torchvision transforms. I installed using the conda environment as specified. Native ffcv transforms work a

[2022-02-06 15:30] bibhabasumohapatra commented on #133
help wanted !
Collecting ffcv
  Using cached ffcv-0.0.3.tar.gz (53 kB)
  Preparing metadata (setup.py) ... error
  error: subprocess-exited-with-error

[code]
i have probably done everything . . . in fact I have uninstalled anaconda and again installed and tried . . . everytime getting same issue.

I have followed :
[code]

[2022-02-06 16:48] H-B-L opened #135 "Tried allocating 144000000 but page size is {self.page_size}"
Hi,

I am trying to convert my dataset into ffcv format. There are 3 inputs, img, ldx and, ldy. img has size (2, 600, 600), ldx has size(100,1,600,600) and, ldy has same size as ldy. Output has size (100,600,600) and all the inputs and outputs are float32. Witer works fine but writer.from_indexed_dataset(train_dataset) throws error:

 "Tried allocating 144000000 but page size is {self.page_size}".

[2022-02-06 21:53] GuillaumeLeclerc commented on #135
Your samples are more than 8MB: Which is the default in FFCV. In your case you need to set your page size to be a multiple of 416 MB. (See the options on the `DatasetWriter` class).

[2022-02-06 21:56] GuillaumeLeclerc commented on #133
Hi @exnx:

What are the output for
- `pkg-config --cflags --libs opencv4`
- `pkg-config --cflags --libs libturbojpeg`

?

[2022-02-06 21:57] GuillaumeLeclerc commented on #133
@bibhabasumohapatra We do not support Windows. There was a pull request that tried to add support but if I recall properly it wasn't really working

[2022-02-06 21:58] GuillaumeLeclerc commented on #134
Hi @njwfish

What version are you using ? Can I see the complete pipeline ?

PS: Torchvision augmentations are **really** slow we do not recommend using them if you care about performance at all.

[2022-02-06 22:04] exnx commented on #133
Ah, it can't find opencv.  It did find libturbojpeg ok.

`pkg-config --cflags --libs opencv4
Package opencv4 was not found in the pkg-config search path.
Perhaps you should add the directory containing `opencv4.pc'
to the PKG_CONFIG_PATH environment variable
No package 'opencv4' found`

`pkg-config --cflags --libs libturbojpeg
-I/home/miniconda3/envs/hippo_fccv_clone/include -L/home/miniconda3/env

[2022-02-06 22:11] GuillaumeLeclerc commented on #133
The `pip` version is a built binary and doesn't contain the header files needed for the compilation of `ffcv`. There are more simpler ways than from source but they usually depend on your operating system. For example on ubuntu that might be `apt install libopencv-dev` or something along those lines. In some cases the OS installs it under `opencv` instead of `opencv4` so you might have to either u

[2022-02-07 01:50] exnx commented on #133
ok, my lab mate solved our issue.  Our procedure was:

1. make a fresh conda env first on it's own entirely, using python 3.8.  For whatever reason, doing this separately instead of creating the environment and installing the ffcv dependancies in step 2 made a difference.  Things broke in step 4 later if I didn't start with this.

2. now, conda install the ffcv requirements with this below:

[code

[2022-02-07 01:55] GuillaumeLeclerc commented on #133
Ok sounds good!

[2022-02-07 01:55] #133 closed

[2022-02-07 01:57] GuillaumeLeclerc commented on #133
Note that pytorch_ligthing currently has issues with FFCV as it tries to preload the data again when FFCV has already done everything perfectly. We unfortunately don't recommend using them together as of now :/ There is a temporary solution somewhere on our Slack if you want to try though

[2022-02-07 02:00] exnx commented on #133
Thanks for the heads up, yes I'd love to try this hack.  How do I get on the slack?

[2022-02-07 07:31] exnx opened #136 "import error - looks like an opencv problem"
Hi,

I was able to install ffcv, and just playing around with it, able to import ffcv.

However, somewhere along the line I got this import error:

```ImportError: libopencv_imgproc.so.405: cannot open shared object file: No such file or directory```

Does that look familiar to anyone?

Update:

For someone reason, my ffcv install broke, so I can't import ffcv.  I don't think I really did anything

[2022-02-07 15:18] H-B-L commented on #135
@GuillaumeLeclerc , thanks for your comment. Can you please provide me a link how to change the page size? I could not find it in the repository.

[2022-02-07 15:37] GuillaumeLeclerc commented on #135
https://docs.ffcv.io/api/writer.html

On Mon, Feb 7, 2022, 10:18 AM H-B-L ***@***.***> wrote:

[2022-02-07 15:59] GuillaumeLeclerc commented on #136
Hello,

What happens if you reinstall `ffcv` with pip ?

[2022-02-07 18:19] H-B-L commented on #135
@GuillaumeLeclerc thanks for your help. I changed MIN_PAGE_SIZE = 1 << 21 to  MIN_PAGE_SIZE = 1 << 31 and worked. but when I am trying to load data with loader like below:

[code]

raised with error:
  File "/home/user/anaconda3/lib/python3.9/site-packages/ffcv/memory_managers/base.py", line 52, in __init__
    page_size_bit_location = int(np.log2(reader.page_size))
OverflowError: cannot convert f

[2022-02-07 21:50] GuillaumeLeclerc commented on #135
@H-B-L  Why would you change FFCV code when there is an argument that you can simply pass to the `DatasetWriter` ?

[code]

[2022-02-08 13:25] njwfish commented on #134
This is the pipeline code, I am get this issue using both the version that installs from pip and building from the main git branch here.

[code]

[2022-02-08 14:53] H-B-L commented on #135
@GuillaumeLeclerc  Thanks for mentioning that, later I used the argument.

[2022-02-08 23:24] andrewilyas commented on #134
Hi @njwfish ! I think the problem might be that your torchvision transforms are happening before the ToTensor, so they're acting on NumPy arrays. Try moving them to after the ToTorchImage() transformation and see if that fixes your issue! As @GuillaumeLeclerc mentioned though, torchvision augmentations are likely significantly slower than FFCV counterparts.

[2022-02-09 08:29] pdd-99 opened #137 "How does ffcv work?"
I have already installed and played with ffcv for a while and now I want to dig a bit deeper. Just how ffcv work?

[2022-02-09 08:52] GuillaumeLeclerc commented on #137
Hi @pdd-99!

I'll move this issue to the conversation tab as it seems more appropriate.

What would you like to know in particular ? (For an overview our README). Note that we plan on releasing a paper soon so if you want an in depth answer you might have to wait for that.

[2022-02-09 12:52] ByungKwanLee opened #139 "Image Range Issue!!"
First, thank you for significant contributions to computer vision task.

I expect the image range is the numbers between zero and one. But, actual parsed image has from zero to 255. For now, I understand its range issue's actual intention of FFCV code developers that 0 to 255 numbers have same information regardless of floating point 16 (half) and 32 (full). Here, I have a question about the exist

[2022-02-09 14:40] ByungKwanLee commented on #139
While waiting for the answer to my question,  I tried to add "NormalyzeImage" transform on the assumption that normalizing images does not affect information loss. However, it did not work due to unknown factors (it may be version problem..?). And, I do not think I can solve the issue of NormalyzeImage alone. Then, I modify the code in ffcv.transform. Then, it works well. But, I have to double-che

[2022-02-09 15:40] H-B-L commented on #135
@GuillaumeLeclerc Since my dataset is large I use os_cache=False, QUASI_RANDOM and raised with error below

/home/user/anaconda3/lib/python3.9/site-packages/ffcv/memory_managers/process_cache/manager.py:36: RuntimeWarning: divide by zero encountered in log2
  page_size_log2 = np.uint32(np.log2(page_size))

Please note that when I am not passing these arguments, Loader works fine for small part of

[2022-02-09 16:06] GuillaumeLeclerc commented on #135
Which arguments? They're should be a single one. Make sure toi don't change
the global variables like you suggested earlier on. It seems that you page
size is zero here. Are you sure the value you passed is a multiple of 2MB ?

quasi random shouldn't matter in your case you can use regular random. Your
samples are so big that it doesn't matter. The goal of quasi random is to
group the samples a li

[2022-02-09 16:39] GuillaumeLeclerc commented on #139
Hi @ByungKwanLee, The images themselves that make the dataset are stored in 0-255, so no information is lost there (you can't have more information than your source without a prior).

Neural networks work best on 0 centered floating point data this is why we have `NormalizeImage` in our examples. If you really need [0, 1] range what you are doing is correct. The only issue is that you are passing

[2022-02-09 16:39] #139 closed

[2022-02-09 16:40] #136 closed

[2022-02-09 16:41] GuillaumeLeclerc commented on #134
It seems that @andrewilyas is correct. If it doesn't work feel free to re-open the issue.

[2022-02-09 16:41] #134 closed

[2022-02-09 16:45] GuillaumeLeclerc commented on #120
Closing due to inactivity

[2022-02-09 16:45] #120 closed

[2022-02-09 16:49] GuillaumeLeclerc commented on #112
@saarthak02 My guess is that you are applying ColorJitter on 0-255 value range instead of 0-1. You should simply scale your data (or better write your own fast FFCV Color Jitter that works directly on 0-255)

[2022-02-09 16:49] #112 closed

[2022-02-09 16:51] GuillaumeLeclerc commented on #113
Closing due to inactivity. Feel free to re-open when you have more information

[2022-02-09 16:51] #113 closed

[2022-02-09 16:56] GuillaumeLeclerc commented on #86
This (and more) made possible by 307ffe0cf3702f5c991b9ed5ca12ac314599edb9. I hope we can make a release with it soon :tada:

[2022-02-09 16:56] #86 closed

[2022-02-09 17:02] GuillaumeLeclerc commented on #50
Hi @ar90n
Sorry I missed this. This may have been fixed in v0.0.4 ?

PS: We would really love Albumentation augmentations :)

[2022-02-09 17:34] dpaleka opened #140 "OrderOption.QUASI_RANDOM seems not to be deterministic given seed"
Here is the modified ffcv-imagenet demo, on Imagenette, with two loaders on the same file initialized with the same parameters.

https://gist.github.com/dpaleka/97101b99dcb055aa6526fe37dbe6897d

The two loaders produce (slightly) different first batches.

[2022-02-09 17:38] GuillaumeLeclerc commented on #140
Thank you for the report. This is not expected and I will take a look.

[2022-02-09 23:59] H-B-L commented on #135
@GuillaumeLeclerc You can download minimal complete script and dummy input and output data from this [repository](https://github.com/H-B-L/FFCV-Dummy-Dataset/tree/master). I change the size of data from (100,600,600) to (10,60,60) to be able to push it into repository. For me FFCV_loader throws this error :

File "/home/user/anaconda3/lib/python3.9/site-packages/ffcv/memory_managers/base.py", line

[2022-02-10 12:31] ByungKwanLee opened #142 "Varying Beton file Size Issue!!"
Hello!

While I examined the code for where the effectiveness of the changed dataloader comes from, I experienced something strange results on converting data to ``beton`` extension. Whenever I try to convert CIFAR10 (e.g., CIFAR100/SVHN/Tiny-ImageNet/ImageNet) for beton, its converted beton file size is not the same. Even, once I change the argument of ``num_workers`` from ``0`` to ``16``, file s

[2022-02-11 02:24] GuillaumeLeclerc commented on #142
This is expected. As for most multi-threaded applications execution is always random. The only way to have a deterministic (and the smallest size possible) is to have `num_workers=0`.

There is also a second factor impacting file size: `.beton` files are organized in "pages": big blocks of memory (default size = 8MB). Each worker works on its own page so that they do not "disturb" each others. The

[2022-02-11 02:25] #142 closed

[2022-02-11 07:38] AmmaraRazzaq opened #143 "torchvision version cannot be updated"
I have installed ffcv with python 3.8, pytorch 1.8.1 and cuda 10.1.
`conda create -y -n ffcv python=3.8 cupy pkg-config compilers libjpeg-turbo opencv pytorch=1.8.1 torchvision cudatoolkit=10.1 numba -c pytorch -c conda-forge
`
However it installs a very old version of torchvision 0.2.2. I need atleast 0.9.1. However it is not being updated and if I try to create an environment with this specified

[2022-02-11 10:45] AmmaraRazzaq commented on #143
Okay it worked for me. I did installation in steps.
1. created a new environment with python=3.8
2. conda install pytorch=1.8.1 torchvision=0.9.1 cudatoolkit=10.1 -c pytorch
3. conda install cupy pkg-config compilers libjpeg-turbo -c conda-forge
4. pip install opencv-python (installing it with conda was causing issues)
5. pip install ffcv
6. pip install -r requirements.txt

[2022-02-11 10:45] #143 closed

[2022-02-11 13:55] erow opened #144 "Does FFCV only support python3.9?"
I find it difficult to install ffcv on my environment (python3.7 + cuda10.1).

[2022-02-11 15:13] andrewilyas commented on #144
Hi @erow, FFCV should work with Python 3.8 or newer---we can't support anything below that as 3.8 is when shared memory operations that FFCV heavily depends on were introduced.

[2022-02-11 15:13] #144 closed

[2022-02-12 03:33] erow opened #146 "os_cache=False does not work."
The following code does not work:
[code]

The error message:
[code]
My environment is python3.9 + torch1.7.1 cu10.1 with 64G memory.  Is it a wrong setting or a bug?

[2022-02-12 12:04] erow opened #147 "Operation between fields."
I find it difficult to conduct operations between fields. In my case, a sample consists of two images: A and B. I have to ensure the consistency of the operations on the two images. For instance, I can easily implement it on the PyTorch style dataset:
[code]

Is it possible to use the same random crop on two fields?

[2022-02-12 19:28] ar90n commented on #50
Hi @GuillaumeLeclerc
Thanks for your response. I tried the above non-jit-operation -> jit-operation code with v0.0.4. And I met the following error.

[code]

After my investigation, this error was caused by the wrong synchronization between the label pipeline and the image pipeline. In the above example, the label pipeline and the image pipeline are defined as follows.

[code]

And the label pipel

[2022-02-12 19:29] ar90n commented on #50
@njwfish
Thanks for your report! I'm glad to hear that this modification works in another environment!

[2022-02-13 07:02] alcinos opened #148 "Example from doc hangs on enumerate on CPU only machines"
Hello,

I am trying to run the simple example provided in the documentation.
I have created a fresh conda env as advised. Note that I'm testing on a host without a gpu.
Relevant info:
<details>
  <summary>Environment info</summary>

[code]
</details>

For reference, here is the full code I'm running (taken from the documentation)
<details>
  <summary>Demo code</summary>

[code]
</details>
The prin

[2022-02-13 22:09] alcinos commented on #148
Update: I ran the exact same test, with the exact same environment, on a host with access to a gpu, and it worked as expected.

So it seems that the issue occurs on cpu only machines. This is confusing to me, since nothing in the pipeline is related to CUDA, as far as I can tell. Is this a bug or a feature?

[2022-02-14 07:46] GuillaumeLeclerc commented on #148
FFCV doesn't spawn sub-processes so it can't be it.

What is the output of `torch.cuda.is_available()` in your environment. I fear that it might be that it returns True even though you don't have a GPU. I didn't think that scenario would happen. Why is cuda installed on your machine if you don't have a GPU ?

[2022-02-14 07:47] GuillaumeLeclerc commented on #147
HI! This will be easier in the next release. You can already play with this with the `new_codegen` branch (currently being tested)

[2022-02-14 07:47] #147 closed

[2022-02-14 07:50] #146 closed

[2022-02-14 09:54] Jasonlee1995 opened #149 "Dataloader crashes when using torchvision style custom transform (random brightness)"
<img width="714" alt="image" src="https://user-images.githubusercontent.com/49643709/153827376-20fea533-8288-4c26-a674-310260c63115.png">

Following the [ffcv doc](https://docs.ffcv.io/making_dataloaders.html), I made random bright augmentation using PIL Image reference using keras and pytorch augmentation. (torchvision transform style)
([keras](https://github.com/keras-team/keras-preprocessing/bl

[2022-02-14 11:52] NotNANtoN opened #150 "FFCV slows down training considerably"
Hi dear FFCV team,

I guess I am trying something that is not yet fully supported:
1. I want to train on text and images
2. I am using pytorch lightning (PL).

But for both problems there seem to be solutions.
1. Solution: save text in NDarray field ascii encoded and then tokenize before passing the input into the model.
2. Use some hacky hooks that were posted somewhere (I don't remember where bu

[2022-02-14 15:16] alcinos commented on #148
`torch.cuda.is_available()` returns `False`, on the CPU only machine, as it should.

As for the why, we have a cluster with some test machines that are CPU only and easier to access than the GPU ones. My debugging process is to get the code working on these machines first, using the same environment that is going to be used for actual training (with the caveat that for pytorch training, the device

[2022-02-14 15:22] andrewilyas commented on #149
Hi @Jasonlee1995 ! Torchvision augmentations operate on Tensors and not numpy arrays, so you should move the augmentations to come after the "ToTensor" operation in your pipelines.

[2022-02-14 15:42] alcinos commented on #81
Hi there,
I have been giving this a bit of thought, and wanted to propose an alternative way of achieving this. Please let me know if this sounds like a sound approach:

1. Dump the dataset "as usual" (ie no sequence involved) where each datapoint may contain several fields for observation, reward, action, etc.
2. For each field type, create a decoder variant that accepts an offset. By this I mean

[2022-02-14 15:44] rpartsey opened #151 "How to properly handle uint16 dtype?"
Hi dear maintainers and contributors,

My team and I (working on learned odometry estimation) found [ffcv](https://github.com/libffcv/ffcv/) data loading speedup impressive and would like to integrate it into our training pipeline. In our original pipeline, we store depth images in `np.uint16` dtype, and we can successfully convert our dataset into `.beton` format using the  `DatasetWriter` below

[2022-02-14 21:22] rraju1 opened #152 "change indices argument during training?"
Hi,

Thanks for the amazing work. My question is kind of basic. I want to know if I can change the indices the loader accesses during training. I'll try to explain through the use of an example. Suppose my dataset is [1..100] and I want to train on the set [0..49] on one epoch and on the set [50..100] for the subsequent epoch and I want to alternate between these two sets. In Pytorch, I can achiev

[2022-02-15 02:16] Jasonlee1995 commented on #149
@andrewilyas

<img width="716" alt="image" src="https://user-images.githubusercontent.com/49643709/153978512-bd229622-82d6-4070-8e96-bf5c4ac6ceb0.png">
<img width="779" alt="image" src="https://user-images.githubusercontent.com/49643709/153979652-272cc25e-734d-4d28-9574-333aa38ff15f.png">

Thanks to your advice, I change my augmentation operation to tensor not numpy and change the pipeline order.

[2022-02-15 20:38] GuillaumeLeclerc commented on #150
Hello,

I see many issues with the code posted above:

- The .beton should be generated a single time in a separate file
- If you don't do ToDevice it's going to be much slower (and might even run on the CPU but I don't know what PTL is doing)
- You are using the wrong normalization, FFCV offers one that is fast both on GPUs and CPUs

But the most problematic thing is ```class SubsampleSents(torch

[2022-02-15 20:55] GuillaumeLeclerc commented on #151
Hi @rpartsey!

It seems the problem is coming from pytorch which doesn't support uint16 and I wasn't aware of that. I think the first thing to do is to make sure pytorch developers know that there is a need. Knowing that a fix wouldn't come anytime soon I can suggest:

- Store your dataset with a type int16 (not changing any bits of your data to lose to sign but just have it **interpreted** as an

[2022-02-15 20:57] GuillaumeLeclerc commented on #152
@rraju1 there is a parameter `indices` in the constructor of the `Loader`. It's not technically part of the API but you could just update `loader.indices = SET_1 or SET_2` before you start each epoch. You shouldn't incur any performance penalty.

Hope it helps!

(feel free to reopen if it doesn't work for you)

[2022-02-15 20:57] #152 closed

[2022-02-15 21:19] rpartsey commented on #151
Thank you for your response, @GuillaumeLeclerc!

My comment was that ffcv allows to write data in `uint16` using NDArrayField successfully, but there is no way to read it back (at least in the current release). Maybe it's worth adding a notification or warning.

Yeah, we also thought about storing the data in int16.

[2022-02-15 21:31] GuillaumeLeclerc opened #153 "Add a warning when users define an NDArrayField with uint16"

[2022-02-15 23:11] GuillaumeLeclerc commented on #151
I created #153 and will have it in v1. Feel free to reopen if you have more question

[2022-02-15 23:11] #151 closed

[2022-02-16 01:33] Jasonlee1995 commented on #149
Thanks!
I find the ways not using PIL Image, but use numpy to augment the images using brightness, contrast, saturation.
As soon as I test my FFCV transformations, I'll send pull request!

[2022-02-16 01:33] #149 closed

[2022-02-16 02:20] rraju1 commented on #152
@GuillaumeLeclerc I tried your suggestion but it didn't update number of batches the network was processing (going from full set to a subset). But when I changed `train_loader.indices = SET1` and `train_loader.traversal_order.indices = SET1` together, it seems to work. Thanks!

[2022-02-16 15:01] NotNANtoN commented on #150
Btw, when I try to uncomment the `TF.ColorJitter` in my pipeline I get the following error. Any clues there? Do I need to write a custom FFCV transform even for the torchvision transforms? Should I make a separate issue?:
[code]

[2022-02-16 17:36] GuillaumeLeclerc commented on #152
Happy that it worked for you. Enjoy FFCV!

[2022-02-17 05:35] samuela opened #158 "Git tag for v0.0.3"
I see that there's a release tagged for v0.0.3rc1, but no tag for release v0.0.3 which is currently that latest [release on pypi](https://pypi.org/project/ffcv/0.0.3/#history). Would it be possible to get a git tag for v0.0.3?

Having git tags for releases makes it a lot easier for others to package ffcv, eg in [Nixpkgs](https://github.com/nixos/nixpkgs).

[2022-02-17 06:20] samuela opened #159 "Some dependencies are incorrect/unnecessary"
* `sklearn` is declared as a dependency [here](https://github.com/libffcv/ffcv/blob/89dc2fabd59f85aab5826b294bc0d34eb236cea4/setup.py#L55). But this should likely be `scikit-learn`. Also it does not appear to be used [anywhere in the actual ffcv source](https://github.com/libffcv/ffcv/search?q=sklearn&type=).
* `matplotlib` is declared as a dependency [here](https://github.com/libffcv/ffcv/blob/89

[2022-02-17 06:26] samuela commented on #159
* `numba` is not declared as a dependency, but [is necessary](https://github.com/libffcv/ffcv/blob/b390f8e0ce6cb3396fe2c66ee4a8df451586e0ef/ffcv/pipeline/compiler.py#L2).

[2022-02-17 07:40] GuillaumeLeclerc commented on #159
Good catch @samuela. Some should definitely be removed. However:

- I don't think we want `numba` to be in the python dependencies as we recommend using it with conda. It includes packages that improve performance over the `pip` version.
- Having the packages required for to run examples was to make it easier for newcomers to just try the library by running the examples and not having to figure ou

[2022-02-17 07:40] GuillaumeLeclerc commented on #158
Sure!

[2022-02-17 07:40] #158 closed

[2022-02-17 07:50] GuillaumeLeclerc commented on #150
1. I recommend you do your tokenization before creating the Beton this is going to be much faster. Right now you can't use jiting because your tokenization isn't written in numpy. I don't know your pipeline exactly but you can probably do your "subsampling" (whatever it is) on numpy arrays that have already been tokenized no ? About color jitter there has been work towards an FFCV native implement

[2022-02-17 07:50] GuillaumeLeclerc commented on #109
Closing due to inactivity. Feel free to reopen once you have more information.

[2022-02-17 07:50] #109 closed

[2022-02-17 08:01] GuillaumeLeclerc commented on #135
Sorry for the delay. I'm looking at the bug right now

[2022-02-17 08:13] GuillaumeLeclerc commented on #135
Hello, your issue is that your page size is 4GB not 409MB as your comment suggest. The maximum page size for FFCV is currently 2GB. I will throw an error in the next version if you pass a page size bigger than 2GB

[2022-02-17 08:13] #135 closed

[2022-02-17 08:21] GuillaumeLeclerc opened #161 "Add tests for PipelineSpec"

[2022-02-17 08:22] GuillaumeLeclerc commented on #104
Closing due to inactivity. Feel free to reopen.

[2022-02-17 08:22] #104 closed

[2022-02-17 08:24] GuillaumeLeclerc commented on #87
Is it something we want in the next release ? Anyone down to write the unit tests/documentation for this. I have a bit too much on my plate right now :/

[2022-02-17 08:26] GuillaumeLeclerc commented on #52
Closing due to inactivity. Feel free to submit a PR if you happen to have implemented it. We unfortunately don't have the bandwidth to add more Fields and will focus on improving FFCV's core

[2022-02-17 08:26] #52 closed

[2022-02-17 08:27] GuillaumeLeclerc commented on #50
Seems to be resolved. Feel free to reopen if it's not the case

[2022-02-17 08:27] #50 closed

[2022-02-17 08:34] samuela commented on #158
Thanks @GuillaumeLeclerc !

[2022-02-17 08:39] GuillaumeLeclerc commented on #148
I can confirm the bug is reproducible. I will fix and incorporate this in the next version.

Thank you for the report @alcinos!

[2022-02-17 08:48] GuillaumeLeclerc commented on #148
It's a pytorch issue. I'll file a ticket.

[2022-02-17 08:53] samuela commented on #158
Huh for some reason the download is not working for me. Opening https://github.com/libffcv/ffcv/archive/v0.0.3.tar.gz gives me
[code]
I've never seen this before...

[2022-02-17 08:53] GuillaumeLeclerc commented on #148
@alcinos pytorch issues usually take a long time to reach a release so I think it won't be fix in next FFCV's release but as soon as pytorch fixes it it will immediately be resolved

[2022-02-17 08:53] #148 closed

[2022-02-17 08:54] samuela commented on #158
Perhaps the git tag was created with a SHA prefix that is not unique within this repo?

[2022-02-17 08:57] GuillaumeLeclerc commented on #158
Whoa that would be extremely unlikely. No idea how to fix it :(

[2022-02-17 08:58] GuillaumeLeclerc commented on #158
`https://github.com/libffcv/ffcv/archive/refs/tags/v0.0.3.tar.gz` works for me.

[2022-02-17 09:00] samuela commented on #158
Unfortunately I'm working with existing automation that hits the https://github.com/libffcv/ffcv/archive/v0.0.3.tar.gz endpoint whether I like it or not.

I have a workaround for the time being, but it's an interesting failure I'd never seen before.

[2022-02-17 09:00] GuillaumeLeclerc commented on #140
Hello @dpaleka I don't have this dataset. Is there a way you could provide an example that uses randomly generated data so that I can run it on my local machine without downloading anything ?

[2022-02-17 09:01] #123 closed

[2022-02-17 09:01] #127 closed

[2022-02-17 09:03] GuillaumeLeclerc commented on #158
The weird thing is that if you refresh the page you get a different hash. Maybe worth reporting to github ?

[2022-02-17 09:03] #82 closed

[2022-02-17 09:04] #51 closed

[2022-02-17 09:04] GuillaumeLeclerc commented on #51
Closing due to inactivity.

[2022-02-17 09:04] samuela commented on #158
Oh that is very odd! I hadn't noticed that the hashes change!

[2022-02-17 09:10] #153 closed

[2022-02-17 09:13] GuillaumeLeclerc commented on #158
Looks cool! Thanks for integrating FFCV

[2022-02-17 09:14] GuillaumeLeclerc commented on #158
(I hope you are not spending too much time on v0.0.3 as I hope to release v1.0.0-rc1 before the end of the week.

[2022-02-17 09:21] samuela commented on #158
ooh, exciting! shouldn't be a problem unless there are significant changes to the dependencies or build system

[2022-02-17 09:50] GuillaumeLeclerc commented on #158
No just adding new features

[2022-02-17 14:16] dpaleka opened #163 "Loader.__len__ is not a pure function"
Counterintuitively, calling `len()` on a `ffcv.loader.Loader` instance modifies its internal state:
https://github.com/libffcv/ffcv/blob/bfd9b3d85e31360fada2ecf63bea5602e4774ba3/ffcv/loader/loader.py#L253-L258

This causes the bug in #140 when paired with `OrderOption.QUASI_RANDOM`.
I suppose the culprit is this line:
https://github.com/libffcv/ffcv/blob/bfd9b3d85e31360fada2ecf63bea5602e4774ba3/ff

[2022-02-17 14:17] dpaleka commented on #140
Root cause is #163.

[2022-02-17 14:17] #140 closed

[2022-02-17 19:21] GuillaumeLeclerc commented on #163
Thanks @dpaleka It should be an easy fix :)

[2022-02-17 23:04] samuela opened #164 "How to seed the PRNG such that ffcv results are reproducible?"
What random seeds do I need to set in order to ensure that I get deterministic results out of ffcv?

[2022-02-17 23:13] samuela commented on #159
I don't have bandwidth to submit a PR atm, but hopefully recording these things here will be useful for someone in the future.

Another one:
* OpenCV is not listed as a dependency but it is used [here](https://github.com/libffcv/ffcv/blob/bfd9b3d85e31360fada2ecf63bea5602e4774ba3/ffcv/fields/rgb_image.py#L5).

[2022-02-17 23:14] samuela commented on #159
I would propose having separate dependency lists for the core library, benchmarks, and tests.

[2022-02-18 00:53] GuillaumeLeclerc commented on #164
You need to limit your self to a single worker otherwise the scheduling randomness will vary the results. You also need to set a seed in the worker. Everything else should be considered a bug I think

[2022-02-18 00:53] #164 closed

[2022-02-18 01:10] NotNANtoN commented on #150
So there is one thing I don't understand about FFCV and dataloaders in general: how can it be a bottleneck? If we use 16 workers for a batch size of 16, then each worker only needs to load one image, apply some minor transforms on it, synchronize them in a batch and send the batch to the GPU. So it can only be a bottleneck if these operations take longer than the forward+backpass, right?

Anyways,

[2022-02-18 01:49] GuillaumeLeclerc commented on #150
Many reasons why it is a bottleneck:

- Python has a major flaw. It can only run a single python instruction at a given point in time, no matter how many workers you have. There are two ways to go around that limitation:
  1. Run code that isn't python: This is the approach taken by FFCV. We compile the code into machine code (which is not python) and as a result these can run in parallel and use

[2022-02-18 14:20] AmmaraRazzaq opened #165 "Error while applying custom transforms"
I am getting this error for a custom class the I have written

`File "../../../../../miniconda3/envs/ffcv5/lib/python3.8/site-packages/ffcv/transforms/module.py", line 25:
        def apply_module(inp, _):
            res = self.module(inp)
            ^

During: resolving callee type: type(CPUDispatcher(<function ModuleWrapper.generate_code.<locals>.apply_module at 0x7f8c63dc0940>))
During: typin

[2022-02-18 14:43] AmmaraRazzaq opened #166 "Error while converting to torch image"
I am getting this error while converting an image to torch image

numba.core.errors.TypingError: Failed in nopython mode pipeline (step: nopython frontend)
Failed in nopython mode pipeline (step: nopython frontend)
Untyped global name 'self': Cannot determine Numba type of <class 'ffcv.transforms.ops.ToTorchImage'>

File "../../../../../miniconda3/envs/ffcv5/lib/python3.8/site-packages/ffcv/transf

[2022-02-18 16:09] tfriedel opened #167 "numba related error: Exception ignored in: <finalize object at 0x7f8ee0524e20; dead>"
I'm currently experimenting with a variation of the code provided in the ffcv-imagenet repo. And it happens when I do repeatedly instantiate the ImageNetTrainer class and perform multiple trainings after each other, I encounter this error before and during the second training:
[code]

It seems like it doesn't affect training and everything still works as expected. I suspect it refers to some dead

[2022-02-18 16:38] markmno opened #168 "Installation via pip?"
Could you please provide pip installation guide?

[2022-02-19 18:23] AmmaraRazzaq commented on #166
It is fixed. Image had to be converted to tensor First.

[2022-02-19 18:23] #166 closed

[2022-02-19 18:27] AmmaraRazzaq commented on #165
Converting the image toTensor and toTorchImage worked. However, since I have written the custom class it is not handling the whole batch with dimensions BxCxHxW, instead it is expecting one image and I am getting the following error

Traceback (most recent call last):
  File "/nfs/users/ext_mohammed.haashir/miniconda3/envs/ffcv5/lib/python3.8/threading.py", line 932, in _bootstrap_inner
    self.r

[2022-02-19 22:31] GuillaumeLeclerc commented on #168
`pip` can only install python packages. However FFCV depends on C++ libraries. Therefore it impossible to install FFCV just using `pip`. You can however install the required libraries with your operating system. We require `libturbojpeg` and `opencv` C++ libraries and their corresponding headers. We won't give a guide for that since instructions to install those depend on the operating system you

[2022-02-19 22:31] #168 closed

[2022-02-19 22:38] GuillaumeLeclerc commented on #165
Hello!

Your augmentation is implemented in numpy. This is great because FFCV is able to run numpy code extremely fast. However Pytorch code on the CPU can't be optimized by FFCV and it will run really slowly (and use a single worker). You shouldn't wrap your numpy code into a `torch.nn.Module` but use a `ffcv.pipeline.Operation` instead. This way you will be able to run FFCV at full speed and use

[2022-02-19 22:41] GuillaumeLeclerc commented on #167
It's a `numba` issue and there is nothing FFCV can do to fix their cleanup procedure :(

[2022-02-19 22:41] #167 closed

[2022-02-20 11:49] tfriedel opened #169 "dependency "sklearn" should be "scikit-learn""
https://github.com/libffcv/ffcv/blob/89dc2fabd59f85aab5826b294bc0d34eb236cea4/setup.py#L55

simply replace it. sklearn does install some package, but not the one we want.

[2022-02-20 15:45] AmmaraRazzaq commented on #165
Hi, Thankyou for your response.

Writing custom transformations in numpy code and wrapping it into `ffcv.pipeline.Operation` works.
However for this particular border pad function I am getting the following error message > Use of unsupported NumPy function 'numpy.pad' or unsupported use of the function.

Traceback (most recent call last):
  File "/nfs/users/ext_mohammed.haashir/miniconda3/envs/ffc

[2022-02-20 16:01] andrewilyas commented on #169
From what I can tell, we actually don't use scikit-learn anywhere, so it might be safe to just delete this line?

[2022-02-20 16:01] andrewilyas commented on #169
Closing as a duplicate of #159

[2022-02-20 16:01] #169 closed

[2022-02-21 16:26] erow commented on #146
It may be a bug about error information. I find that the disk is out of storage, so the file is incomplete. However, I did not see any alert. It should be better to check the validation of the file before loading it.

[2022-02-22 01:12] GuillaumeLeclerc commented on #165
Hello,

You don't really need `np.pad` to do what you are trying to achieve:
- Fill `dst` with `0`
- Write the source image wherever you want in `dst`. It will essentially be padded.

If you need the padded image to be bigger, you can make your AllocationQuery to have a bigger shape than the original image.

[2022-02-22 01:12] #165 closed

[2022-02-22 15:29] Jasonlee1995 opened #170 "Issues with DDP with FFCV dataloader"
![image](https://user-images.githubusercontent.com/49643709/155356578-2b9875c5-20c5-4344-a6b0-80b34e013265.png)

I used the [ffcv imagenet codes](https://github.com/libffcv/ffcv-imagenet) and use it to my dataset.

What I experienced DDP with pytorch dataset and dataloader, they use mostly the same vram (balanced)

However when I use with FFCV dataset and dataloader, they are not balanced (0 gpu i

[2022-02-22 18:28] kaixiao opened #171 "Loader has length 0 when batch_size > len(indices)"
Initializing the loader as follows:

[code]
results in a loader of length 0 when batch_size > len(indices).

I think a warning, an error, or returning a length 1 loader containing exactly len(indices) elements in the loader would all be reasonable behaviors that are more intuitive than returning a length 0 loader.

[2022-02-23 12:00] vturrisi commented on #87
Personally speaking, I don't think it's something urgent. I'm waiting for implementations of common transformations (like color jitter), or for me to have time to implement them myself, to switch to fccv.

[2022-02-23 12:06] AmmaraRazzaq opened #172 "Support for scipy/ opencv transforms"
ffcv isn't supporting scipy / opencv transforms.

I have written the following class

[code]

and I am getting the following error: **Unknown attribute 'rotate' of type Module(<module 'scipy.ndimage' from '/nfs/users/ext_mohammed.haashir/miniconda3/envs/ffcv5/lib/python3.8/site-packages/scipy/ndimage/__init__.py'>)**

Traceback (most recent call last):
  File "/nfs/users/ext_mohammed.haashir/minic

[2022-02-23 15:16] AmmaraRazzaq opened #173 "np.meshgrid not supported by Numba"
Hi,
I am using `np.meshgrid` function inside one of the custom transformation function that I have written using the `ffcv.pipeline.operation` class and it is giving the following error

[2022-02-24 08:38] andrewilyas commented on #173
Hi! I think this is an issue better raised in Numba---it seems like there are workarounds for implementing compilable version of mesh grid, see e.g., https://stackoverflow.com/questions/70613681/numba-compatible-numpy-meshgrid.

[2022-02-24 21:33] GuillaumeLeclerc commented on #173
I agree, we are not maintaining numba, we are just using it as a dependency.

[2022-02-24 21:33] #173 closed

[2022-02-24 21:37] GuillaumeLeclerc commented on #172
Hello,

FFCV uses numba under the hood. We can only compile what numba can. There is an open pull request from someone adding rotation to FFCV but you could also go to the scipy repository on github, copy/paste it and compile it with numba. It might work.

You can also re-implement it, it's pretty straightforward. Unfortunately we don't have the resources to implement every function that every use

[2022-02-24 21:37] #172 closed

[2022-02-24 21:38] GuillaumeLeclerc commented on #170
Hello,

This is a well known bug and has been fixed, we haven't made a formal release yet but you can install directly from source and it should be fixed (branch 0.0.4 or 0.0.1 should work)

[2022-02-24 21:38] #170 closed

[2022-02-24 21:42] GuillaumeLeclerc commented on #150
Closing due to inactivity

[2022-02-24 21:42] #150 closed

[2022-02-25 02:25] GuillaumeLeclerc commented on #163
Thanks for the report, it will be in the next release

[2022-02-25 02:25] #163 closed

[2022-02-25 02:29] GuillaumeLeclerc commented on #171
@kaixiao it seems that in your example you have drop_last=True. We aim to maximize compatibility with the pytorch dataloader and it seems that we have exactly the same behavior

[code]

Feel free to reopen if you see a discrepancy with pytorch's DataLoader!

[2022-02-25 02:29] #171 closed

[2022-02-25 02:31] GuillaumeLeclerc commented on #159
The thing here is that we want to make it as easy for people to run the experiments. If we add an extra step it will already put a lot of people off using it :/

[2022-02-25 02:32] GuillaumeLeclerc commented on #159
I improved the list in the next release. Reopen if you have another suggestion :)

[2022-02-25 02:32] #159 closed

[2022-02-25 02:58] kaixiao commented on #171
Thanks for the clarification, @GuillaumeLeclerc! In that case, I'm wondering if the default behavior for ffcv loaders should be drop_last=False instead, since that seems to be the pytorch default. But it's helpful to know that this is an easy fix.

Default drop_last behavior in Pytorch:
`In [2]: dataset = ch.utils.data.TensorDataset(ch.Tensor([(0, 1), (1, 2)]))

In [3]: loader = ch.utils.data.Data

[2022-02-26 06:44] alcinos opened #174 "Field name silently cropped at 16 chars"
Hi,

Consider the following example:
[code]

It's unclear to me if the 16 chars limit is intended (I haven't found any mention of that in the doc, but I may have missed it). If it's not, well it's a bug, and if it is, perhaps it would be appropriate to add an assert in the writer?

As it stands it's very confusing because no warning is issued, and I spent quite some time debugging an issue where m

[2022-02-26 16:45] tfriedel opened #175 "fill parmeter in translate has no effect"
When using the translate operation, the empty part of the result image should be filled with the tuple provided with the "fill" argument. It's currently not being used and thus the background will always consist of (0,0,0).

[2022-02-28 15:23] AmmaraRazzaq opened #177 "Warning while training model with DDP"
Hi
I am getting the following warning when training the model with ffcv dataloader + ddp.

The same code works fine with pytorch dataloader + ddp

[2022-03-01 08:08] henryqin1997 opened #178 "Question about shuffling"
Hi, as posted in previous question asking why ffcv is fast, one point mentioned is that single file is used instead of many files, so it is faster to retrieve. I am curious about this: if single file is used, how does ffcv provide random shuffling?

[2022-03-01 12:51] AmmaraRazzaq commented on #177
I think this error was occurring because I was not putting the tensors on gpu in the image and label pipeline, instead I was putting them on gpu in the train and val loop.
However now, only the image tensors are going on gpu, label tensors are not moving to gpu.

[code]

[2022-03-02 01:36] JacobARose commented on #142
This explains why there is no mention of sharding afaik in the FFCV documentation, and I think should certainly be mentioned if not emphasized and touted. Formats like WebDataset and TFRecords almost always require additional engineering on the part of the user to decide beforehand what a reasonable number of shards might be.

However, it does seem to come with one drawback, which is that relying

[2022-03-02 12:41] AmmaraRazzaq commented on #177
Resolved: Pytorch dataset class should be given array as an input and I was giving a list for labels.

[2022-03-02 22:00] GuillaumeLeclerc commented on #178
Hello,

It is important to note that one doesn't have to read an entire file all at once. It is possible to only read regions you care about and FFCV heavily relies on that. To answer your question more precisely tt depends on the ordering:

- For `RANDOM`. It will just read sections of the files that are needed.
- For `QUASI_RANDOM`. FFCV reads large sections of the file (default 8MB) and then ke

[2022-03-02 22:00] #178 closed

[2022-03-02 22:01] GuillaumeLeclerc commented on #175
Hello @tfriedel, Which transform are you referring to ? I don't think `FFCV` comes with a translate transform does it?

[2022-03-02 22:02] GuillaumeLeclerc commented on #174
Hello,

This is indeed the case. `FFCV` file formats has a limit on the length of the field. We could definitely warn users when they use a name that is too long. Are you interested in submitting a pull request ?

[2022-03-02 23:18] GuillaumeLeclerc commented on #142
I don't think the size of "shards" in FFCV is as important as it is in other formats. As long as it can fit a couple samples, increasing the size of a shard will lead to no benefits.

We have FFCV version of YFCC100m and have not faced any issue generating them. Maybe you could open an issue with what you are experiencing ?

[2022-03-02 23:20] GuillaumeLeclerc commented on #171
That's definitely an oversight from us. I'm not sure changing now as people might be already relying on the default value is the thing to do though.

[2022-03-03 00:57] tfriedel commented on #175
this one: https://github.com/libffcv/ffcv/blob/main/ffcv/transforms/translate.py

[2022-03-03 03:27] zhoupan9109 opened #179 "run slowly in real pytorch project"
Following official documents and sample code, I generate the .beton file sucessfully. Efficiently loading makes me suprise, however applying the load code for real  pytorch project, some unexpected results are captured in experiments.

The pytorch code of experiments as below:

experiment 1:
loader = Loader('./ds.betion')
for data, label in loader:
     if torch.cuda.is_availabel():
         data

[2022-03-03 07:03] sachitkuhar commented on #177
Hi @AmmaraRazzaq
I am facing the same error. I could not understand your last comment. Do you mind sharing it in a bit more detail?
Thanks!

[2022-03-03 11:01] AmmaraRazzaq commented on #177
Even after successfully moving the tensors to GPU, the Warning still persists,
`[W reducer.cpp:362] Warning: Grad strides do not match bucket view strides. This may indicate grad was not created according to the gradient layout contract, or that the param's strides changed since DDP was constructed.  This is not an error, but may impair performance.
grad.sizes() = [2304, 576, 1, 1], strides() = [5

[2022-03-03 12:40] mujjingun commented on #175
It's actually worse than that, it's uninitialized and once in a while it contains a random value other than `0.0`!

[2022-03-03 14:53] AmmaraRazzaq commented on #177
Finally figured it out. This warning occurs because `ToTorchImage()` class returns tensor in channels_last memory format. If the input tensor to a model is in channals_last memory format then the model should support this format else it will give the warning about grad strides not matching. Model can be converted to channels last as follows
`model = model.to(memory_format=torch.channels_last)` as

[2022-03-03 16:18] GuillaumeLeclerc commented on #179
Three things:

- FFCV has an operation ToDevice that you should have in the pipeline instead of your for loop
- I suspect you are not benchmarking the statement properly. With cuda code you can't just measure the time it was before the line and the time after a line because GPU code is asynchronous: please refer to this for proper benchmarking techniques: https://pytorch.org/tutorials/recipes/reci

[2022-03-03 16:18] #179 closed

[2022-03-03 16:19] GuillaumeLeclerc commented on #177
@AmmaraRazzaq What GPU are you using. Newer GPUs should be at least 10% faster with channel_last

[2022-03-03 17:32] GuillaumeLeclerc commented on #175
I didn't know we had that augmentation. Sorry about that, I'll try to fix that soon, but if someone wants to go ahead and make a PR it should be pretty straightforward

[2022-03-04 07:04] zhoupan9109 commented on #179
Thanks for your reply!

Befor the experiments above, the following code has been tested.

loader = Loader('./ds.betion')
for data, label in loader:
out = model(data)

image pipeline = [SimpleRGBImageDecoder(). ToTensor(), ToTorchImage(), ToDevice(0)]

On this condition, the statement,  'out = model(data)',  costs more time than Pytorch officical Loader code.

 For constrasting the efficiency of Lo

[2022-03-04 22:42] dskhudia opened #182 "opencv4"
I was wondering why install is looking for opencv4 (https://github.com/libffcv/ffcv/blob/main/setup.py#L30 ) instead of opencv ? installing opencv on ubuntu with 'apt install libopencv-dev` installs opencv that has version > 4 but pkg_config can't find opencv4.

[2022-03-05 18:27] AmmaraRazzaq commented on #177
Hi @GuillaumeLeclerc I am using Tesla V100-SXM2-32GB

[2022-03-06 21:26] sheffier opened #183 "Training multiple models on a single GPU"
Hi,

Can you give a code example of how to utilize FFCV for training multiple models on a single GPU?

[2022-03-08 03:03] GuillaumeLeclerc commented on #183
Hello,

We don't have an open source snippet at the moment but it is really straightforward:
- Start a single python script
- In this script create multiple *threads* (not processes!)
- Each thread create its own loader and trains

PS it seems that there is a bug with cudnn and in some situations it will crash if two BatchNorm are issued at the same time. The workaround is to put a lock shared amo

[2022-03-08 03:03] #183 closed

[2022-03-08 03:04] GuillaumeLeclerc commented on #177
I have a V100 handy, do you mind sharing a sample of your code that is faster with `channel_last=false` so I can investigate ?

[2022-03-08 03:05] GuillaumeLeclerc commented on #182
Hi @dskhudia

It's how the package is called in `conda`. It's up to the OS (or conda) to decide how pkg-config package are named. It's just that ubuntu and conda disagree. You can either change `setup.py` to suit your environment or make a PR to have a setup.py that works in both situation.

[2022-03-08 03:05] #182 closed

[2022-03-08 15:47] AmmaraRazzaq commented on #177
Hi @GuillaumeLeclerc  Thankyou for offering to help.
Here is the link to the code https://github.com/AmmaraRazzaq/image_classification/blob/main/sample_code.py

[2022-03-08 19:04] sheffier commented on #183
Thanks for the quick replay!

One question though. Won’t this kind of solution suffer from the GIL?

[2022-03-09 04:38] geekchen007 opened #185 "Normalize of transforms module error"
### **error location:**
.../ffcv_3.0/ffcv/ffcv/transforms/normalize.py

### **detail:**
/ffcv/lib/python3.8/site-packages/ffcv/transforms/normalize.py", line 88, in normalize_convert
    return final_result.view(final_type)
TypeError: view(): argument 'size' (position 1) must be tuple of ints, not torch.dtype

debug **info**
print("type:",final_type, self.original_dtype)
print('value:',final_resul

[2022-03-09 15:44] GuillaumeLeclerc commented on #183
If you avoid non ffcv augmentations it usually is fine. Ffcv runs outside of the gil. The only problem could be the model of you have a lot of fast layers that run faster than it takes to schedule them

[2022-03-09 17:14] lengstrom opened #186 "impossible to make a single example dataloader"
I get this error when I try to make a dataloader with only a single index: (i.e. any dataloader with `indices=[0]`)

[code]

[2022-03-09 17:20] lengstrom commented on #186
Batch size 1 in general does not work I think either

[2022-03-10 06:16] sheffier commented on #183
Ok, I’ll give it a shot

[2022-03-10 23:28] kristian-georgiev commented on #186
happens for any batch size below 4

[2022-03-10 23:36] kristian-georgiev commented on #186
actually, it seems dependent on batch size, e.g. `indices=[0], batch_size=1024` works (for CIFAR10 data)

[2022-03-11 14:37] andrewilyas commented on #175
This should be fixed in #184 !

[2022-03-14 15:42] numpee commented on #186
I believe this is caused by the `Squeeze()` Operator in the pipeline (for labels). IIRC, changing to `Squeeze(0)` resolves the issue.

[2022-03-14 15:46] vincent-leguen opened #191 "Load sequences of images"
Thank you for this great work ! I'm wondering if it can be used to efficiently load sequences of images, for example for video prediction. Imagine you have a large dataset of images from cameras (ordered images, eg. one folder per day) and you want to sample a batch of B samples, each sample being a sequence of p+f consecutive images (p input frames, f future frames to predict). Is there an effici

[2022-03-14 21:11] GuillaumeLeclerc commented on #186
Yes @numpee  is right :)

[2022-03-14 21:11] #186 closed

[2022-03-14 22:06] GuillaumeLeclerc commented on #185
Hello,

https://pytorch.org/docs/stable/generated/torch.Tensor.view.html confirms that one can pass a dtype as `view`, we are using this function properly.

What you see is because numba doesn't support FP16. To go around that problem we interpret the data to INT16 so that it can go through the pipeline (but the bits are correct). If in your loop you "interpret" (using `view`) back into FP16 you s

[2022-03-14 22:06] #185 closed

[2022-03-14 22:07] GuillaumeLeclerc commented on #177
Sorry for the delay, can you give me exactly the parameters you are using (and which dataset). Thank you!

[2022-03-15 06:36] AmmaraRazzaq commented on #177
Hi @GuillaumeLeclerc I can't share much detail with you as this is a research project which is still in development phase and has not been made opensource yet.
Please let me know if parameters, nature of the data set or model architecture can affect the speed of model training?

[2022-03-15 23:53] GuillaumeLeclerc commented on #177
There are many very important factors including:
- Distribution of image resolution
- The amount of raw/jpeg used in the file
- amount of compression of images
- Shape of your labels
- etc...
Can you provide a dataset where the images and labels have been replace by noise ?

[2022-03-17 00:20] mohamad-amin opened #192 "Is it possible to have the option to disable/enable a subset of transformations of a Loader?"
Hello, thanks for the great work.

In some cases, I'd like to load the dataset after some transformations and do some analysis on the datapoint before feeding them to the (neural net) training, and I'd like to do this analysis on the raw image, rather than let's say a randomly cropped version. But after doing the analysis, I'd like to select a subsample of the dataset and train the dataset using t

[2022-03-17 14:06] Nise-2-meet-U opened #193 "How to work with ByteField?"
My training data is not normal BGR images, but a channel stack of multiple images.
When I write training data in FFCV format, is it only possible to use ByteField format? After I combined multiple jpeg Bytes files into a 1-dimensional vector, the program reported an error as follow:
----------------------------------------------------------------------------------
Train total img:  0
Train total i

[2022-03-17 20:03] Nise-2-meet-U opened #194 "label is list(), how to write?"
my training and testing labels are list format, e.g.
[0.123, 0.321]
how to make make them as ffcv format and write them to disk?

[2022-03-17 20:27] ardasahiner opened #195 "Compatibility with timm augmentation?"
Hi,

I was attempting to use FFCV with [timm](https://github.com/rwightman/pytorch-image-models), using the fact that`torch.nn.Module`s should be compatible with the `pipelines` argument of FFCV's `Loader`. However, I am getting some strange errors and would like some clarification on what is going wrong here.

Please see my simple reproducible implementation below. I use CIFAR100 images and use t

[2022-03-18 00:39] mohamad-amin opened #196 "Inconsistent results when using FFCV dataloaders and PyTorch dataloaders"
Hello,

I've just started using FFCV recently and tried to change my model training pipeline to use FFCV dataloaders instead of PyTorch dataloaders, but I'm getting inconsistent results between these two.

Using a 2 block layer-ed WideResNet (I can share the detailed model code if needed), I'm trying to train the model on a small proportion (1K datapoints) of the SVHN dataset. Previously, using th

[2022-03-18 01:24] mohamad-amin commented on #196
I noticed something that looks unexpected to me. I ran the following code to investigate the test set labels using the two different loaders.

First FFCV:

[code]

Then, PyTorch:
[code]

Seems like the labels are not exactly the same. This is a bit worrisome, but it's probably that I'm doing something wrong, not that the decoders are messing up (at least I hope). But I'm not doing any complex tran

[2022-03-18 06:04] mohamad-amin commented on #196
Apparently, this issue also appears in the document's example: https://docs.ffcv.io/ffcv_examples/cifar10.html

[code]
Outputs:
[code]

while `Counter(datasets['test'].targets)` outputs:
[code]

[2022-03-19 08:46] Nise-2-meet-U opened #197 "how to save and decode gray-jpeg images?"
My training data are one channle gray images.

[2022-03-19 20:30] GuillaumeLeclerc commented on #196
Hello,

You are doing something wrong:

[code]

Here you do now "own" data. It's FFCV's. You are allowed to use it but only during the current iteration. When you are done with your iteration, FFCV can do whatever it wants with it you are supposed to be done reading data. By adding it ton `labels` you are keeping a reference on something you do not own. Internally, to save memory (unlike Pytorch),

[2022-03-20 22:30] andrewilyas commented on #196
Closing this!

[2022-03-20 22:30] #196 closed

[2022-03-20 22:32] andrewilyas commented on #194
I would recommend using the NDArrayField! See here for some example tutorials:

- https://docs.ffcv.io/writing_datasets.html#writing-a-dataset-to-ffcv-format
- https://docs.ffcv.io/ffcv_examples/linear_regression.html

[2022-03-21 07:15] numpee opened #198 "[Bug] Synchronization issue on GPU"
I'm using the v0.0.4 version from this branch: https://github.com/libffcv/ffcv/tree/v0.0.4

There's a (possibly major) bug where two models will not receive the same inputs from the FFCV dataloader, unless `torch.cuda.synchronize` is explicitly called. Below is a simple code snippet to reproduce this issue:

[code]

BatchNorm tracks running stats, which can be used to check whether two identical m

[2022-03-21 07:46] Nise-2-meet-U commented on #194
thanks

[2022-03-21 07:50] Nise-2-meet-U opened #199 "not supporting windows ?"
I cannot install ffcv on windows server...
anyone ?

[2022-03-21 08:01] GuillaumeLeclerc commented on #198
@andrewilyas this might be a bug similar to the one we had on our SAGA solver

[2022-03-21 08:41] numpee commented on #198
I've updated the code.

[code]

### Other things to note:

- Adding `torch.cuda.synchronize()` anywhere within the loop will **NOT** trigger the assertion on the last line
- Adding a breakpoint within to loop and iterating over each loop slowly will **NOT** trigger the assertion on the last line
- Adding assertion on the output of the two models, for example `out1 = model1(imgs); out2 = model2(img

[2022-03-21 13:40] ThibaultCastells opened #200 "RandomCrop?"
Hi,
I tried ffcv with VGG16 on CIFAR10 (I used the example from the library) but I got an important drop of accuracy (-20%).
The main difference, I think, is that before I was using `torchvision.transforms.RandomCrop(32, padding=4)` but this line doesn't seem to work with ffcv, and I didn't find an equivalent in the ffcv transforms.

Is there a way to fix this issue (ideally using an ffcv optimize

[2022-03-22 05:33] andrewilyas commented on #198
I think that was actually fixed in 0.0.4---at least the failing test. Could this have something to do with the cudnn simultaneous batch norm bug? Is there non-BN-based evidence of the images being different?

[2022-03-22 06:35] numpee commented on #198
@andrewilyas I am not aware of the CuDNN simultaneous batch norm bug - could you link me to a reference? If it is a BN related bug, what I don't understand is why adding synchronization points **anywhere** in the loop would fix the issue (assertion passes), and why the issue is not reproducible with a PyTorch native dataloader.

I actually discovered this bug while testing code for something else,

[2022-03-22 08:11] RocketFlash opened #201 "Albumentations"
Hi! Is it possible to use ffcv with albumentations transformations ? As I understand .beton files consist of already transformed and saved instances. Is it possible to use transformations in real time manner?

[2022-03-23 03:34] phelps-matthew commented on #197
Yes, it would be great if there were a class similar to `ffcv.fields.RGBImageField` for grayscale images that allows ones to write them with the same jpeg compression capability.

[2022-03-24 18:40] GuillaumeLeclerc commented on #199
#93 has been merged. You can already use it by cloning directly.

[2022-03-24 18:40] #199 closed

[2022-03-24 18:42] GuillaumeLeclerc commented on #200
Hello, you should take a look at our ImageNet example. it has an example of random cropping. Feel free to re-open if you have a specific issue!

[2022-03-24 18:42] #200 closed

[2022-03-24 18:43] GuillaumeLeclerc commented on #197
Hi!

There is currently a PR with this functionality. You can try this branch and give feedback in  #176 .

[2022-03-24 18:46] GuillaumeLeclerc commented on #195
Hello @ardasahiner. Timm augmentations are not numba augmentations and therefore won't be able to benefit from FFCV. There is a #154 that might be of some help (maybe you can even contribute if you feel like it). Unfortunately, our team is too small to add support for all existing augmentations. We hope to get some help from the community for this.

[2022-03-24 18:46] #195 closed

[2022-03-25 03:50] #194 closed

[2022-03-25 09:17] AmmaraRazzaq commented on #177
Hi @GuillaumeLeclerc  Apologies for late reply.

I am sharing the dataset files and sample code. I am working with MIMIC-CXR dataset and beton file size is 165GB for all the images so I have created a beton file with 1000 images (~1.5GB). Images are resized to 512x512 and normalized in the range [-1,1] and are written to beton file in 'raw' format. It's a multilabel classification problem with 5 l

[2022-03-25 09:35] ThibaultCastells commented on #200
Are you talking about the RandomResizedCropRGBImageDecoder class?
If yes, then I already tried it but it didn't improve the accuracy. I only got 38%. Here is the code I used:
[code]
My assumption is that it's due to the "resize", which doesn't exist in torchvision.transforms.RandomCrop so the behavior is different.

To be sure that the difference is caused by the crop operation, I tried to remove

[2022-03-25 21:17] GuillaumeLeclerc commented on #200
You need to specify your aspect and ratio in your `RandomResizedCropRGBImageDecoder`.  Just take a look at the images generated by your pipeline and the problem should be obvious.

CIFAR images are 32x32, What is the goal that you are trying to achieve with your cropping ?

About the model saving, you should create a new issue. Make sure you have a reproducible example though. I can't see how FFCV

[2022-03-25 21:20] GuillaumeLeclerc commented on #201
`.beton` files do *not* consist of already transformed and saved instances otherwise it would be impossible to do random augmentations at train.

Some people have used albumentations augmentations with FFCV but I would recommend against if your goal is pure performance as they will only run with single worker. Augmentations are usually very simple procedure (a couple of lines of numpy). I recommen

[2022-03-25 21:20] #201 closed

[2022-03-25 21:21] GuillaumeLeclerc commented on #198
@numpee did you experience this with 0.0.4 ? I'm going to try to reproduce on my workstation on v1.0.0 now.

[2022-03-25 22:27] GuillaumeLeclerc commented on #198
Hi @numpee and thank you for this invaluable test case. I can 100% confirm that there is an issue and that it's FFCV at fault. I'll have to investigate that

[2022-03-25 22:39] GuillaumeLeclerc commented on #198
Here is strictly  of the test that makes it fail 100% of the time on my 3090:

[code]

[2022-03-25 22:43] GuillaumeLeclerc commented on #198
So what I suspect to be happening is that FFCV is overwriting the current `imgs` with a future batch. The crazy thing is that we encountered that bug and the code be ok now. I guess the next move is to fire a profile and look at how the operations actually unfold on the GPU itself

[2022-03-26 01:46] numpee commented on #198
@GuillaumeLeclerc, thanks for looking into this. It does seem to be a very weird bug. Please let me know if there are any ways I can help

[2022-03-28 08:57] EvgeniaAR commented on #77
Hi there, I would also like to use ffcv with SimCLR training. @GuillaumeLeclerc what is the current state of #82? I saw others commenting on going back to standard Pytorch due to speed issues. Have these been resolved, i.e. is SimCLR training with ffcv viable?

[2022-03-29 04:48] ByungKwanLee commented on #198
Well.. is a problem that you guys have had related with ``torch.nn.SyncBatchNorm'' on DDP?

I have combined DDP with ``torch.nn.SyncBatchNorm'' to avoid batch-norm bug.

As below, just try to wrap the model

[code]

If not addressed, I am sorry

[2022-03-29 08:04] numpee commented on #198
@ByungKwanLee the tests above were conducted on single-gpu, so I don't think SyncBN applies in this case.

[2022-03-29 13:51] Kwentar opened #205 ".beton specification"
Hello, do you have some specification and speed benchmarks for your format vs others (hdf5, recordIO)? What idea of it is in core?

[2022-03-29 22:07] rmrafailov opened #206 "Memory Leaks"
Thank you very much for this project! I've been trying to implement this in training pipeline, but have been running into some issues. I created a custom dataset consisting of a combination of images, arrays and scalars. I then create a loader in the following way:

[code]
and time the loader:

[code]

1. The sampling is very fast, but RAM memory fills up pretty quick and the processes crashes. Th

[2022-03-29 22:23] phelps-matthew opened #207 "Advice on increasing dataloading speed given ample resources - os_cache no effect?"
Hi there - thank you for releasing a much needed data loading library for the pytorch community.

I've read over all the information in the [performance guide](https://docs.ffcv.io/performance_guide.html) and am empirically finding approximately equal performance across a wide variety of settings. I'd love to hear if there is anything I might be missing.

Context:
- Dataset consists of about 2e5 i

[2022-03-31 13:53] axkoenig commented on #57
Attaching a minimal example of encoding a dataset of strings with FFCV. Please correct me if there is a nicer way to implement this. Note, the data items must be tuples. Also, `Loader` seems to automatically pad, so no need to pad manually as shown above.

[code]
Prints
[code]

[2022-03-31 14:08] axkoenig commented on #57
This is how to achieve the same with JSONField.

[code]

[2022-03-31 21:41] rraju1 opened #208 "Trouble changing indices during training"
Hi, thanks for the amazing package. I am trying to use ffcv for one of my tasks where we train on different subsets of data at different points in training. Sometimes it involves taking random subsets from the dataset. Unfortunately, I get this `ValueError: empty range for randrange()` after sampling. Based on the trace, it looks the error happens in `quasi_random.py` but I'm not sure where this c

[2022-03-31 23:00] yajivunev opened #209 "MemoryError: Not enough memory to fit the whole sample"
Hello!

I'm having trouble writing my dataset.

The batches are already made as numpy arrays, so I just have to feed them through a dataset so it can be written to .beton. Each batch has 4 numpy arrays (see field dictionary below), and all batches are in a dictionary called `batches` with indices as keys.  `batches[n]`  would return a tuple of the 4 numpy arrays. I even stack them by field to rese

[2022-04-01 05:45] ByungKwanLee opened #210 "Unexpected GPU Memory Allocation Issue"
I have a problem with unexpected GPU memory allocation issue.

If I run a code for training CIFAR-10 based on FFCV with *5 number of  GPU* (id: 0,1,2,3,4), four unexpected GPU memories are allocated on id number 0.

![image](https://user-images.githubusercontent.com/50401429/161201500-f13bbfe2-0350-4761-bf86-ec33cee9130a.png)

In addition, if I run the code with *4 number of  GPU* (id: 0,1,2,3), t

[2022-04-10 12:03] Nise-2-meet-U opened #211 "how to apply pytorch's WeightedRandomSampler"

[2022-04-11 21:08] codestar12 opened #212 "Error converting Webdataset"
Hello, I am trying to convert a imagenet sharded as webdataset tar files into an ffcv dataset.

I downloaded the ffcv-imagnet repo https://github.com/libffcv/ffcv-imagenet

and modified it as best as I could tell from the webdataset tutorial

[code]

I am getting an error

[code]

it looks like an error with either the WebDataset or the pipeline (from writer.py)

[code]

what could cause the datas

[2022-04-18 06:37] ByungKwanLee commented on #210
I changed ffcv the latest version and added argument of gpu_id in torch.load(checkpoint_path, map_location=gpu_idid) function.

Then, it is addressed!

[2022-04-18 06:37] #210 closed

[2022-04-19 17:02] rraju1 commented on #208
I found out my error. What I was doing was including adding an indices array where you can have the same index the loader draws samples from (sampling with replacement). The loader expects unique indices to sample from or else it throws an error so when I set the replace option to False in np.random.choice, my code works.

[2022-04-20 18:10] Nise-2-meet-U commented on #211
@GuillaumeLeclerc

[2022-04-23 18:05] netw0rkf10w opened #215 "CutMix implementation"
Hello,

Thank you for realizing this great work!

As a suggestion, it would be nice to have support for CutMix in FFCV. In my experience CutMix usually works better than Mixup.

Best regards.

[2022-04-24 17:03] netw0rkf10w opened #216 "Different resulted file sizes when using DatasetWriter on the same dataset"
Today I encountered some strange behavior of FFCV and I would like to ask if that's actually normal.

I launched the following command from [ffcv-imagenet](https://github.com/libffcv/ffcv-imagenet) on two different machines:

[code]
where in `write_imagenet.sh` I set `--cfg.write_mode=jpg`.

Surprisingly **I obtained two `train_500_1.0_90.ffcv` with different sizes**, one has 65GB and the other 64

[2022-04-25 12:25] firsakov opened #217 "object detection dataset"
Hello!

i'm trying to convert my custom object detection dataset to beton format, and get
[code]

I think it could be because of labels format which return getitem method. I treid 2d numpy array, 1d numpy array (flattened my 2d array where which row has a class number and coordinates) and torch.Tensor.
no result.
Could you help with that, what is solution for bbox labels?

[2022-04-25 15:05] firsakov commented on #70
@VovaTch hi!
how did you manage to handle different shapes of bbox array? I set label as NDArray field of size (max number of bboxes, 5). (class + 4 coordinates) and getting this type of error
[code]

[2022-04-25 15:49] VovaTch commented on #70
Try padding with zeros, it should get the job done. Eventually I didn't use FFCV for the project because it doesn't support the type of bounding box data augmentation that I need.

[2022-04-27 07:09] andrewilyas commented on #217
Hi @firsakov ! Can you provide a larger code sample that shows what your dataset is returning?

[2022-04-28 09:41] firsakov commented on #217
@andrewilyas this is the error
[code]

and this is code
[code]

[2022-04-30 23:34] andrewilyas commented on #217
Hi @firsakov , thanks for the info---can you also provide the definition of `dataset` in your code above?

[2022-05-03 10:35] gsakkis commented on #67
Suggestion: add `python_requires=">=3.8"` in `setup.py` for a clearer error message at installation time.

[2022-05-08 14:19] afzalxo commented on #210
Hi @ByungKwanLee, I am facing the same issue of unbalanced memory allocation. Which `torch.load` are you referring you here? I can't find this anywhere inside the authors implementation.

[2022-05-08 14:29] ByungKwanLee commented on #210
First, download ffcv 1.0.0 or 0.4.0 version and copy and paste all files in ffcv folder of the downloaded to the path: /home/$username/anaconda3/envs/$env_name(ex:ffcv)/lib/$python_version/site-packages/ffcv

Second, in my code, I need to load pre-trained weight, thus I use ***torch.load***. When I use it, if I do not point out what gpu is used for the checkpoint parameter by ***torch.load(checkpo

[2022-05-08 14:44] afzalxo commented on #210
Thanks for the prompt response. I'll try this, although I don't have a pretrained model. I'll just update to v1.0.0 and see if it works.

[2022-05-09 19:33] kiedanski commented on #168
I managed to get it working (pip install ffcv) by installing `libturbojpeg-dev` and `libopencv-dev` inside docker (I'm using nvidia/cuda:11.2.1-base-ubuntu20.04)

[2022-05-10 20:01] dskhudia opened #218 "Insert a transformation once the loader is constructed."
Adding a transformation in the pipeline once the loader object is constructed results in the following error.

[code]

Reproduction script:

[code]

[2022-05-10 21:26] andrewilyas commented on #218
Hi! I think I misunderstood your question over slack---inserting ops into the pipeline after you make the loader isn't supported, as far as I know. @GuillaumeLeclerc can correct me if I'm wrong, but otherwise I'll close this issue since this isn't really on the roadmap---you can always just make two loaders off of the same `.ffcv` file to achieve the same effect.

[2022-05-16 09:04] kakaxi314 opened #219 "How to install the v1.0.0 version?"
I encouter the same issue as #114 .
Following the suggestion, I try to upgrade ffcv to v1.0.0 version.
As it's has not been released.
I try to install it by pip from the github branch.

I install the reqirements following the instruction
[code]
and then
[code]
But I meet the following Error.
[code]

Sorry that I didn't solve it, even I haved tried several solutions from google.

I works on Arch sy

[2022-05-17 02:36] kakaxi314 commented on #219
I removed cv2 from the install_requires in the setup.py, and then installed successfully.

[2022-05-17 02:36] #219 closed

[2022-05-18 12:44] andrewilyas commented on #218
@dskhudia I see---one option is that you can make the transformations have a flag is_active, and if it's false just skip the transformation. Then during training you can do tx.is_active = True and tx.is_active = False. As long as you make the loader with the recompile=True option, this should do what you want.

[2022-05-18 17:32] dskhudia commented on #218
Thanks. FFCV already respects the is_active flag?

[2022-05-20 08:59] NguyenVanThanhHust opened #220 "ValueError: zero-size array to reduction operation maximum which has no identity"
Hi, I'm trying to load my dataset.
Each sample of my dataset is an RGB image (fixed shape)+ np.array with fixed shape too.

I converted to .beton file.

But when I try to load data to train with following loaders:

[code]

It creates error:
[code]

How can I solve this?

[2022-05-23 20:46] gaceladri commented on #217
Hi I'm having a similar error.

My code:
[code]

The error:
[code]

I have confirmed that all my examples are len = 20. Did I do something wrong? Thanks!

[2022-06-01 12:55] songyuc opened #221 "Could SimpleRGBImageDecoder support variable resolution?"
Hi, guys,
I expect that SimpleRGBImageDecoder would be able to supports variable resolutions, because the images of COCO are not in a same size.

Your response and guide will be appreciated!

[2022-06-01 16:54] songyuc opened #222 "I think ffcv might not be suitable for object detection task"
Hi guys,
after a long time trying to apply ffcv on object detection task, I finally draw a conclusion that ffcv might not be suitable for object detection task, as,
1. FFCV require both data types of images and targets with a fixed shapes, which is almost impossible for object detection task, because the instances number in an image is indeterminate. It is nearly **IMPOSSIBLE** to transform the ta

[2022-06-10 06:13] alexmyczko opened #223 "Debian/Ubuntu users that want to avoid conda"
Please describe a way to install the software without conda.

Can enjoy this deb source package:
http://sid.ethz.ch/debian/ffcv/

If there is interest to have the software packaged in debian officially, follow up on this issue.

[2022-06-12 06:11] sheffier opened #225 "Is this repo still maintained?"
Hi,

I like FFCV. However, I haven't seen any progress in development. Are you still maintaining it?

[2022-06-17 19:50] lengstrom commented on #225
Yes, FFCV is still maintained!

[2022-06-18 06:27] ericjang commented on #198
Is this still an issue?

[2022-06-18 17:49] sheffier commented on #225
Great!

[2022-06-18 20:34] #223 closed

[2022-06-20 05:49] ericjang opened #227 "concatenating beton files"
I have two .beton datasets with the same schema. how can I concatenate files or load two different beton files into one Loader instance?

[2022-06-20 12:40] #225 closed

[2022-06-20 12:45] #221 closed

[2022-06-20 12:46] andrewilyas commented on #220
Hi @NguyenVanThanhHust ! Can you give us some more information about your dataset, for example, the code you used to write it?

[2022-06-20 12:51] andrewilyas commented on #217
Assuming this is resolved (wrong dtype) and closing -- feel free to re-open a new issue if it's not resolved!

[2022-06-20 12:52] andrewilyas commented on #215
Thanks for the suggestion! It's not in our immediate plans at the moment but happy to review a pull request if you have implemented it!

[2022-06-20 12:54] andrewilyas commented on #212
Hi @codestar12 ! Sorry for the late response here---is this resolved? If not, can you double check that you're able to iterate over the WebDataset itself (i.e., completely independently of FFCV)?

[2022-06-21 18:36] dskhudia commented on #218
@andrewilyas Thanks. No problem.
I see how this can work for the transformations I write. I was wondering how to make it work for the existing FFCV transformations.

[2022-06-22 04:00] songyuc commented on #222
I will continue trying using `ffcv`. Please give me some time to do more tests.

[2022-06-22 05:31] NguyenVanThanhHust commented on #220
Sorry, I don't keep the code to use it anymore. I just you pytorch_lighting instead of.

[2022-06-22 05:31] #220 closed

[2022-06-22 07:14] songyuc opened #229 "Please solve the [info] warning from "OMP""
Hi, guys,
I am learning `ffcv` these days, and I find there is a warning from "OMP" as:
[code]
I sincerely expect you could solve this warning via probably updating to the new API.

Your response will be appreciated!

[2022-06-23 14:30] andrewilyas commented on #218
@dskhudia I see, that makes sense---we'll consider working this into our next release, but for now my advice would be to accomplish what you want by subclassing the augmentation.

[2022-06-23 16:32] dskhudia commented on #218
Thanks @andrewilyas , Eagerly waiting for the next release as it has some of the other improvments as well.

[2022-07-03 23:36] msaroufim opened #230 "ffcv for inference"
## TL;DR

Hi! I work on https://github.com/pytorch/serve and I was interested in exploring optimizing preprocessing for inference.

My main question is can I just use accelerated decoding functions and ops from `ffcv` and not worry about integrating a custom data format like `beton` or use a custom data loader?

## More context

* Preprocessing performance matters for my problem: In some early exp

[2022-07-06 06:30] ericjang opened #231 "read labels are duplicated and are mismatched from written labels"
This commit adds a test that demonstrates the issue - let me know if I should open a PR to check this in.
https://github.com/libffcv/ffcv/commit/655c7f8f7963343a2d6482c371ef78a4c5df58d6

Basically there are two tests that write images paired with a dummy label (either as an NDArrayField or an IntField). Then I read them back. The set of labels read no longer match the expected labels written.

for

[2022-07-12 09:32] sa-cloud opened #232 "Unsupported image type"
I tried to convert the torchvision dataset datasets.Places365 to ffcv format and got an exception:

[code]

I ran the following lines:

[code]

[2022-07-12 09:56] sa-cloud commented on #232
It works when not passing in the transformation

[2022-07-12 22:42] vedantroy opened #233 "Do we run conda and pip install?"
The installation guide says:

[code]

Do we need to run `pip install ffcv` after creating the conda environment?

[2022-07-13 00:24] vedantroy commented on #233
Seems like we run both

[2022-07-13 00:24] #233 closed

[2022-07-14 21:53] ed1d1a8d opened #234 "Thread leak with FFCV x tqdm"
I used FFCV with tqdm for long running job, and noticed it crashed due to using too many threads (~4000 threads had built up over 30 hours in a linear fashion).

<img width="500" alt="image" src="https://user-images.githubusercontent.com/1733389/179090585-1951cc29-0289-449c-ba96-1540aac64751.png">

Upon further investigation, I found that when FFCV is used with tqdm, there seems to be a thread-lea

[2022-07-16 03:06] GuillaumeLeclerc commented on #234
The only explanation I could find here is that tqdm somehow keeps a reference on the  iterator which also extends `Thread` in FFCV. by using manual tqdm you are not giving a reference on the iterator to tqdm so it can't keep it not exhibiting the problem. It must therefore be a problem with tqdm. What happens if you `.join()` on the iterator after the iteration does it block forever ? If it doesn'

[2022-07-21 02:34] briteroses commented on #232
Sorry for seeing this late! The RGBImageField you want to use in the ffcv writer requires a PIL Image to be passed in, not a torch tensor. Your original dataset keeps the images in PIL Image form but your torchvision pipeline includes a conversion to tensor, hence why the write only works without the torchvision transform. For your task, try shortening the torchvision transform to only including R

[2022-07-22 15:12] arunpatro-meesho opened #237 "pip install ffcv fails!"
Doing a simple `pip install ffcv` fails in many machines and OSes. Tried with linux and macos.

Error:

<img width="870" alt="image" src="https://user-images.githubusercontent.com/93586790/180469641-29d91a3c-476e-4bf3-aa83-c896012d87ca.png">

[2022-07-22 22:43] giangnguyen2412 opened #238 "No speedup when training ImageNet"
Hi ffcv team,

This is an awesome work! I tried to use ffvc in my currect project but I got 0% speed up. I create `beton` files like this:
[code]

and then I make the `DataLoader` per suggested:

[code]

However, I got no speedup. The speed is the same when I used the original torch.DataLoader
Any suggestions?

[2022-07-23 02:14] andrewilyas commented on #237
Hi! Did you install the dependencies? These instructions should work:

[code]

[2022-07-23 17:28] arunpatro-meesho commented on #237
Not sure why this was not working earlier. I think this is due to some dependency resolver. `pip install ffcv numba opencv-python` works.

[2022-07-23 17:28] #237 closed

[2022-07-23 17:33] arunpatro-meesho commented on #211
+1

[2022-07-24 11:45] #232 closed

[2022-07-25 09:20] kerneeee opened #239 "Unable to install ffcv via pip"
Unfortunately i am not able to install ffcv via pip in my environment. Following exceptions is raised during installation:

`ERROR: Command errored out with exit status 1:
     command: /usr/bin/python3 -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'/tmp/pip-install-bb88nk1n/ffcv/setup.py'"'"'; __file__='"'"'/tmp/pip-install-bb88nk1n/ffcv/setup.py'"'"';f=getattr(tokenize, '"'"'open'"'"',

[2022-07-25 13:03] zero0kiriyu opened #241 "Make RGBImageField support image file"
When I try to make my own dataset, I find the DatasetWriter and RGBImageField does not support directly converting the image file. It would be great if we can just pass the image path to the Field and read the jpeg, png file's metadata and byte. This method would be faster than read image to tensor and encode tensor to byte.

[2022-07-25 14:22] giangnguyen2412 commented on #238
@lengstrom @GuillaumeLeclerc @NicolasHug any help?

[2022-07-25 15:09] kerneeee commented on #239
thanks for the reply. acually i can't use conda, therefore another approach would be interesting.

[2022-07-27 13:21] andrewilyas commented on #238
@giangnguyen2412 Hi! Using DataParallel is likely to incur significant slowdown and be the bottleneck---check out the ffcv-imagenet example https://github.com/libffcv/ffcv-imagenet for an example of how to use FFCV with distributed training! Let us know if this does not answer your question.

[2022-07-27 13:25] andrewilyas commented on #241
Hi @zero0kiriyu ! In general, this should be really simple to do---FFCV can convert any indexable object into an FFCV dataset! See this guide for an example: https://docs.ffcv.io/writing_datasets.html.

Something like ``ffcv.fields.BytesField`` could be what you are looking for if you really want to avoid ever reading the images into tensor format, but I think this would be strictly slower (at loa

[2022-07-28 22:54] JJGO opened #242 "Split Dataloader using indices"
Trying to decide how to do 5-fold cross-validation with FFCV loading.

Does FFCV have any way of supporting loading just a subset of the indices, or should I have 5 files and loaders around for each split? Not sure how the overhead of multiple loaders stacks up (thinking about num_workers here).

[2022-07-29 12:19] richard-vock commented on #239
I have the same problem using poetry:

     × python setup.py egg_info did not run successfully.
      │ exit code: 1
      ╰─> [8 lines of output]
        Traceback (most recent call last):
          File "<string>", line 2, in <module>
          File "<pip-setuptools-caller>", line 34, in <module>
          File "/tmp/pip-req-build-mz7uq447/setup.py", line 30, in <module>
            extension_k

[2022-07-29 13:01] richard-vock commented on #239
In my case a

    apt install libturbojpeg0-dev libopencv-dev

fixed it. Note that installing `libopencv-dev` alone did not suffice.

[2022-07-30 10:12] rahimentezari opened #243 "Imagenet negative dimensions error"
Hi
I tried to use the imagenet example and fed my imagenet directory as path to ImageFolder to create my_dataset. However I am getting the following error (with no more details):

Traceback (most recent call last):
  File "/opt/conda/envs/ffcv/lib/python3.9/site-packages/ffcv/writer.py", line 112, in worker_job_indexed_dataset
    handle_sample(sample, dest_ix, field_names, metadata, allocator, fi

[2022-07-30 15:25] rahimentezari commented on #241
@andrewilyas Probably my question is related to this:
I want to use FFCV on my tensor dataset, not ImageFolder, because I need to train SimCLR and my dataset has pairs of augmentations in the tensor type.
How is that possible?

[2022-07-31 14:22] rahimentezari opened #244 "ffcv with torch.Tensor"
Hi
I have a dataset in the form of 'torch.Tensor' and was wondering how to use the DatasetWriter?

I tried different options like RGBImageFields but this does not work as the inputs are tensors, not images, getting this error
TypeError: Unsupported image type <class 'torch.Tensor'>

`writer = DatasetWriter(write_path, {
        'image': RGBImageField(),
        # 'image': FloatField(),
        # '

[2022-08-03 04:47] Batwho commented on #239
A similar problem using Windows

` Collecting ffcv
  Using cached ffcv-0.0.3.tar.gz (53 kB)
  Preparing metadata (setup.py) ... error
  error: subprocess-exited-with-error

  × python setup.py egg_info did not run successfully.
  │ exit code: 1
  ╰─> [8 lines of output]
      Traceback (most recent call last):
        File "<string>", line 2, in <module>
        File "<pip-setuptools-caller>", lin

[2022-08-03 23:51] vchiley opened #245 "Resize Interpolation"
In [torchvision's RandomResizeCrop](https://pytorch.org/vision/stable/generated/torchvision.transforms.RandomResizedCrop.html#randomresizedcrop) and [Resize](https://pytorch.org/vision/stable/generated/torchvision.transforms.Resize.html#resize) allow the user to specify the interpolation. This isn't an option in [ffcv's RandomResizedCrop](https://github.com/libffcv/ffcv/blob/main/ffcv/transforms/r

[2022-08-05 09:08] aph-naph opened #246 "CIFAR example not training at all"
I am new to FFCV and wanted to try the CIFAR example to see how well it goes so that I can use it for my research work. But I am unfortunate to find that the example does not train the model and instead constantly predicts a 10% accuracy. I tried changing the example code simply to perform evaluation during training (to print test loss while training so as to notice the improvements), and we can s

[2022-08-05 15:43] akai820 opened #247 "Using torchvision.transforms"
Hi, I am new to using ffcv as the dataloader and I wondered how I could apply functions in `torchvision.transforms` (e.g. ColorJitter or Grayscale) in the pipeline for data augmentation? I got errors like the below and am not sure how to solve them. Thanks!

My code:
[code]

The error message:
[code]

[2022-08-05 20:19] JJGO commented on #245
Moreover, the default is not the same (torchvision's seems to be Bilinear whereas FFCV defaults to nearest) which can lead to artifacting in the images.

[2022-08-05 20:27] JJGO commented on #245
I spoke too soon, the mode is not NEAREST but `INTER_AREA` from looking at [this line](https://github.com/libffcv/ffcv/blob/main/libffcv/libffcv.cpp#L33) which is probably a good choice for downsampling (see [opencv docs](https://docs.opencv.org/2.4/modules/imgproc/doc/geometric_transformations.html#resize) but not for upsampling.

But yeah, I agree that the authors should put this as part of the

[2022-08-05 21:17] akai820 commented on #247
Fixed. It seems like the order of the transforms matters

[2022-08-05 21:17] #247 closed

[2022-08-05 23:39] MBaltz commented on #247
Hello @akai820
Can you tell me more about how you solve this?

[2022-08-06 01:37] akai820 commented on #247
From the example they provided, they put the transforms from pytorch at the end of the pipeline (https://docs.ffcv.io/ffcv_examples/cifar10.html), so I just tried to put these two `T.ColorJitter(brightness=.5, hue=.3), T.Grayscale()` at the end and it worked.

[2022-08-06 02:41] MBaltz commented on #247
All right @akai820
I had this problem too:
`<source missing, REPL/exec in use?>`

But in my case I was using a `NDArrayField` field to encode a numpy array with dtype: `float16`, and when I decoded this with `NDArrayDecoder` it didn't works.

So, **to solve** my problem, i just **consider the dtype of the numpy array as `float32` instead of `float16`**, and it works!

[2022-08-11 00:32] hlzhang109 commented on #152
I found it didn't work when I change the indices of a dataloader using
`        mask = np.arange(1000)
        dataloader.indices = mask `
It still gives the original dataloader with 50,000 training data points in make_dataloaders()
https://github.com/libffcv/ffcv/blob/bf07b5c6ac7f4cce788348d1718c15e78da8ae9d/examples/cifar/train_cifar.py#L69

[2022-08-11 03:50] aph-naph commented on #246
The problem is due to null outputs in the model.. I'm not sure why the default model is giving null outputs, but looking more into it, the output from the first layer itself is null, so I guess the input must be causing the problem.. I am using the default example code which processes images from CIFAR using FFCV and passes it to the model.. This seems to show that the processed output from ffcv c

[2022-08-13 11:27] andrewilyas commented on #246
Hi @aph-naph ! Can you post your PyTorch and Python configurations?

[2022-08-15 06:48] sajanth commented on #209
@yajivunev Were you able to solve this? Currently struggling with the same issue. Originally I would get a page size error, but after ramping up the page size I get the same error as you, even though a single sample should easily fit into my memory.

[2022-08-15 13:58] woodenchild commented on #239
@@zero0kiriyu @richard-vock  I execute conda install opencv libopencv libjpeg-turbo while it still fails to install ffcv with the same errors. I have no root to do apt install or sudo apt install. Is there any other way？

[2022-08-15 15:44] woodenchild commented on #239
@richard-vock @zero0kiriyu @Batwho @kerneeee @lengstrom It works when I use the setting in https://pypi.org/project/ffcv/.

[2022-08-16 02:56] aph-naph commented on #246
Hi @andrewilyas Thank you for looking into this
[code]
Happy to share further details !

[2022-08-16 05:07] Batwho commented on #239
@woodenchild Hi, Thank you for the suggestion. I wonder if you are using the setting as
`conda create -y -n ffcv python=3.9 cupy pkg-config compilers libjpeg-turbo opencv pytorch torchvision cudatoolkit=11.3 numba -c pytorch -c conda-forge
conda activate ffcv
pip install ffcv
`
because I think this is the same setting as the GitHub code provided.

[2022-08-17 04:24] briteroses commented on #247
I know this is closed, but just so what happened here is fully clear to you:

The image loader, before any pipeline operations, returns numpy arrays in BGR color channel format. That's why the vast majority of examples and applications will use ToTensor() -> ToTorchImage() in the pipeline (ToTorchImage, among other things, performs a BGR -> RGB conversion). If you're using a torchvision transform

[2022-08-19 17:21] ed1d1a8d opened #249 "RandomTranslate does not use `fill` parameter"
It seems RandomTranslate is broken in the sense that it does not make use of the `fill` parameter?
https://github.com/libffcv/ffcv/blob/89dc2fabd59f85aab5826b294bc0d34eb236cea4/ffcv/transforms/translate.py#L13-L55

Am I misreading the implementation here?

[2022-08-20 22:29] andrewilyas commented on #249
I think this is a duplicate of #175 and fixed in #184 ! Not sure why that isn't merged in yet, but I'll follow up on the pull request directly and close this for now.

[2022-08-20 22:29] #249 closed

[2022-08-24 07:28] numpee opened #250 "Reading .beton is extremely slow on HDD even if RAM is already filled with identical dataset"
**Current FFCV version**: v0.0.4 compiled from source.

I have two identical FFCV `.beton` files (ImageNet train dataset): One in an NVME ssd drive, and the other in an HDD drive.

**Using the `.beton` file from SSD, I can load the full dataset in less than 6 minutes, at around 7 it/s** (`batch_size=512`, data loading only - no model forward/backward pass). Using `free -mh` I have checked that the

[2022-09-01 11:08] pmeier commented on #206
I'm hitting the same plain `assert`, but I don't think it has anything to do with memory. Here is a MWE to reproduce that shows no noticeable changes on memory usage:

[code]

[code]

[2022-09-01 12:48] pmeier commented on #206
I think I found the issue. The problem is that the `current_batch` stays `0` after the first call

https://github.com/libffcv/ffcv/blob/f25386557e213711cc8601833add36ff966b80b2/ffcv/memory_managers/process_cache/schedule.py#L113-L114

while `self.next_batch` gets incremented:

https://github.com/libffcv/ffcv/blob/f25386557e213711cc8601833add36ff966b80b2/ffcv/memory_managers/process_cache/schedule.

[2022-09-01 13:02] pmeier commented on #206
@rmrafailov Looking at your code, the memory leak could come from the fact that you are creating the iterator over and over. Compare

[code]

with

[code]

[2022-09-05 09:08] ItamarKanter opened #252 "shard large .beaton file into few shards"
Hi,
I have two related questions:

- Is it possible to concatenate multiple .beaton files? that way one can distribute the workload of creating .beaton files into multiple processes.
- In the same line, can we concatenate new samples into an existing .beaton file or should I create a new file from scratch (which is quite inefficient)?

[2022-09-05 12:32] yajieC opened #253 "The loading process is unusually slow"
I have modified the two parameters as described in the documentation(https://docs.ffcv.io/parameter_tuning.html#scenario-large-scale-datasets).
However, when I load data from “.beton” it takes a lot of time, so far it has been loaded for 6hours, but the loading process has not been completed.

Ps: The .beton file is about 320GB, with a total of about 130K images.

[2022-09-12 05:55] aph-naph commented on #246
Hi, did you get a chance to reproduce the issue?
If there is a docker image available, I'll be glad to use it instead since I'm not able to get the package working locally.
Is there one available? Any ffcv version is fine @andrewilyas

[2022-09-12 10:09] tarun-sj opened #255 "Importing ffcv slows down CPU inference of pytorch models."
Hello,

Importing ffcv drastically increases the CPU inference time of pytorch models. I assume ffcv changes some OS level flag that causes this effect, but unable to localize it further. Would be great if someone can provide a workaround for this.

Code to reproduce issue:
[code]

[code]

Versions:
Python: 3.9.0
FFCV: 0.0.3
Torch: 1.12.0+cu102
Torchvision: 0.13.0+cu102

[2022-09-12 21:57] andrewilyas commented on #246
Hi @aph-naph ! Sorry for the late reply. Do you think you could try this docker instance and see if it works?

https://github.com/libffcv/ffcv/blob/main/docker/Dockerfile

[2022-09-15 07:36] Kranito opened #256 "Can not run in parallel"
When I want to start some model training programs at the same time, the program will shut down and the error reports Memory Error. What should I do if I want to run a few ffcv programs in parallel?

[2022-09-17 09:59] aph-naph commented on #246
I ran it in docker and it unfortunately gives the same results as the attached screeenshot :(
Does the example work for you locally @andrewilyas?
I'm wondering if everyone else is having the same problem or if it's just me..

[2022-09-18 02:52] andrewilyas commented on #246
It works locally for me for sure---did you try regenerating the dataset files?

[2022-09-18 18:05] aph-naph commented on #246
Yes, I've tried regenerating the dataset files by deleting /tmp/* and re-running write_datasets.py.
Could you please share the PyTorch and Python configuration of the environment in which running train_cifar.sh after cloning the repo freshly works as expected @andrewilyas? I will switch to that environment and give it a try

[2022-09-21 07:33] huiwen99 opened #257 "FFCV vs Pytorch accuracy results"
Hi, thanks for this amazing library!

I have been trying to use FFCV to speed up my model training on custom data, and while it does train more quickly, I am concerned about the difference in accuracy results between using FFCV and Pytorch. The only difference is the dataloaders, but using Pytorch yields me about **80% val accuracy** on the 2nd epoch, while FFCV gives me about **50-60% val accurac

[2022-09-23 09:07] Kranito commented on #256
When I want to use multi-threading to run different models on different subsets of one big dataset, after creating these threads, this project will report ''Numba: Attempted to fork from a non-main thread, the TBB library may be in an invalid state in the child process.'' So what should I do if I want to run some different threads in one process?

[2022-09-26 10:30] MikkelAntonsen opened #258 "Opencv and pytorch version issue"
Hey, I've been eager to try ffcv for some time now and now that I have started I have an issue with dependencies.
I have pytorch pinned to 1.10 because of an other dependency I have. Installing conda-forge's opencv leads to a conflict which can be resolved by upgrading to pytorch 1.12.
Do you have a suggestion for how to proceed other than writing myself out of the other dependency? It seems like

[2022-09-30 04:08] andrewilyas commented on #198
@numpee Can you confirm that this is fixed on the v1.0.0 branch?

[2022-09-30 15:20] numpee commented on #198
@andrewilyas @GuillaumeLeclerc Just tested the code - this seems to be fixed in the `fix-198` branch. Doesn't seem to be merged in the `v1.0.0` branch yet.

Thanks for the fix! I'm surprised the fix was just a single line of code.

[2022-09-30 16:19] tcapelle opened #259 "How to load single channel (or 4 channel) images"
I am trying to load a dataset consisting of 1 channel images, and don't know how to do it.
I have modified the loading to open them as grayscale:
[code]
and the dataset accordingly:
[code]
and then to write this down:
[code]
but shouldn't I be using something different that the `RGBImageField`?

[2022-10-06 08:13] LouiValley opened #260 "Label problem in using different function: SoftTargetCrossEntropy()"
I try to use SoftTargetCrossEntropy as loss function.
[code]

It needs `label(target)` and  model's output(x). For x, its dimension is [Batch, Class], But for the target, its shape is [Batch]. There will be dimensional problem. How can I deal with this?

[2022-10-07 11:46] PriceYH commented on #257
Same issue.

[2022-10-12 07:10] #256 closed

[2022-10-13 14:24] samuelstevens opened #261 "Can't be in JIT mode and on the GPU"
I would like to do as much work on the CPU to avoid taking up GPU memory, but I get

`AssertionError: Can't be in JIT mode and on the GPU`

How can I indicate to the loader that some operations need JIT and some are not?

Dataloader code (I don't think the writer file is necessary).

[code]

[2022-10-13 14:30] samuelstevens commented on #261
I tried fixing it by switching the transforms in `"label"`, specifically, to:

[code]

But now I get: `Untyped global name 'self': Cannot determine Numba type of <class 'ffcv.transforms.ops.Convert'>`

[2022-10-13 14:59] samuelstevens commented on #261
Fixed with:

[code]

Unclear to me why this makes a difference but there are no more errors!

[2022-10-13 14:59] #261 closed

[2022-10-13 15:16] samuelstevens opened #262 "Performance worse with ffcv"
I am using ffcv loaders with [huggingface's accelerate](https://github.com/huggingface/accelerate) for single-node multi-GPU training using 8x A100 with 16GB memory each.

When using ffcv, my training loop is slower and I need to use a lower batch size (48 rather than 32), and I additionally experience memory leaks (CUDA OOM after two epochs).

## Writing .beton

[code]

## Dataloader

[code]

My

[2022-10-13 19:35] naveace opened #263 "Using ToTorchImage with channels_last=True causes error with drop_last=False"
A minimum reproducible example is attached below. I am guessing that there is some kind of pre-computation of size going on that is in some way incompatible with drop_last=False
[code]

[2022-10-15 14:59] anasserhussien opened #264 "Error when includes any torchvision transforms in the pipeline | Cannot determine Numba type of <class 'ffcv.transforms.module.ModuleWrapper'>"
I have the following pipeline, the training loop runs properly without having `torchvision.transforms.ColorJitter(.4,.4,.4)` in the image pipeline, but once I include any transformation from torchvision.transforms it gives the following error.

    CIFAR_MEAN = [125.307, 122.961, 113.8575]
    CIFAR_STD = [51.5865, 50.847, 51.255]

    BATCH_SIZE = 512
    GPU_IDX = 0
    device = torch.device(f"c

[2022-10-15 21:11] naveace commented on #263
As a followup, changing the pipeline to `[SimpleRGBImageDecoder(), NormalizeImage(np.array([0, 0, 0]), np.array([255, 255, 255]), np.float16), ToTensor(), ToTorchImage(channels_last=CHANNELS_LAST, convert_back_int16=False), Convert(torch.float16), ToDevice(0)],` (only added in Normalization) makes the error go away.

[2022-10-18 06:24] jatentaki opened #265 "Does FFCV work on apple sillicon?"
I tried installing and I am meeting the error below. Before I dig deeper I'd like to ask if it's maybe a known issue with M1 chips or rather something specific to my setup which I should continue troubleshooting.

[code]

[2022-10-22 23:44] lilyjiayi commented on #229
Encountered the same warning.. would be great if it can be solved

[2022-10-31 01:44] pomonam commented on #264
Were you able to solve the issue? I am facing a same problem.

[2022-11-02 18:57] anasserhussien commented on #264
Having `ToTorchImage()` in the pipeline before applying any trochvisoin transformation solved the issue!

[2022-11-02 20:10] pomonam commented on #264
Great, that worked for me too. Thank you!

[2022-11-03 07:30] manideep2510 opened #266 "Merging two FFCV .beton datasets"
Hi

Let's say we have two datasets written to two FCCV dataset files say `dataset1.beton` and `dataset2.beton`. Assume both these datasets have the exact same image and label format and are written using the same method. Is it possible to take these two `.beton` dataset files and merge them into a single `merged-dataset.beton` FFCV dataset file?

This will be very useful when we want to continuous

[2022-11-09 20:35] kristian-georgiev commented on #257
This sounds concerning. @huiwen99 @PriceYH, can you share a minimal example (including the data you used) that reproduces the behavior you observed? Thanks!

[2022-11-12 23:46] netw0rkf10w opened #268 "Unable to reproduce the results using the official training script"
Hello,

Unfortunately I have been unable to reproduce reported results despite a lot of efforts.

## Installation
[code]

As PyTorch 1.13 has been released and it only supports CUDA 11.6 and 11.7, the above installed the CPU version of PyTorch 1.13. Thus I had to install again PyTorch 1.12.1 for compatibility with CUDA 11.3:

[code]

And installation of dependencies:

[code]

## Create dataset
[co

[2022-11-15 00:35] netw0rkf10w commented on #268
Any ideas on how to check for what went wrong please, @GuillaumeLeclerc @andrewilyas?

[2022-11-29 06:22] levongh opened #269 "Getting errors in FFCV import in macos with M1 chpi"
[code]

[2022-11-30 21:26] 1ucky40nc3 commented on #118
It seems that colab has switched to python=3.8.15. Here is a [gist](https://gist.github.com/1ucky40nc3/85e73031440cca639571506a6e0c5016) and a screenshot:
![image](https://user-images.githubusercontent.com/64500884/204911409-7299d739-d4c6-4f6e-9811-21b3042b8001.png)